# Week 5: Exploratory Data Analysis - Practice Exercise

### About the dataset (Customer Tip Data)

The dataset contains information about the 244 orders served at a restaurant in the United States. Each observation includes the factors related to the order like total bill, time, the total number of people in a group, gender of the person paying for the order and so on.

Attribute Information:

**total_bill:** Total bill (cost of the meal), including tax, in US dollars

**tip:** Tip in US dollars

**sex:** Sex of person paying for the meal

**smoker:** There is a smoker in a group or not

**day:** Day on which the order is served

**time:** Time of the order

**size:** Size of the group

**Import the required libraries**

In [2]:
# type your code here
# import pandas
import pandas as pd

# import numpy
import numpy as np

# import matplotlib.pyplot
import matplotlib.pyplot as plt

# import seaborn 
import seaborn as sns

# to suppress the warnings
import warnings
warnings.filterwarnings('ignore')

#### Load the customer tip dataset and print the first five observations

In [3]:
# type your code here
# load the csv file
df_tips = pd.read_csv('tips.csv')

# display the first five observations
df_tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Let's begin with hands-on practice exercises

#### 1. Make a list of categorical and numerical variables in the data

In [5]:
# type your code here
df_tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [6]:
# use list comprehension to create the lists
# 'select_dtypes' selects the variable of given data type 
num_var = [var for var in df_tips.select_dtypes(include=np.number)]
print('Numerical Variables:', num_var)

cat_var = [var for var in df_tips.select_dtypes(include=object)]
print('Categorical Variables:', cat_var)

Numerical Variables: ['total_bill', 'tip', 'size']
Categorical Variables: ['sex', 'smoker', 'day', 'time']

#### 2. Compute the average bill amount for each day

In [7]:
# type your code here
# compute the average bill amount for each day using groupby()
avg_bill = df_tips.groupby(['day'])['total_bill'].mean()

print('Average Bill Amount for Each Day:', avg_bill)

Average Bill Amount for Each Day: day
Fri     17.151579
Sat     20.441379
Sun     21.410000
Thur    17.682742
Name: total_bill, dtype: float64

#### 3. Which gender is more generous in giving the tip?

In [ ]:
# type your code here

#### 4. According to the data, were there more customers for dinner or lunch?

In [ ]:
# type your code here

#### 5. Based on the statistical summary, comment on the variable 'tip'

In [ ]:
# type your code here

#### 6. Find the busiest day in terms of the orders

In [ ]:
# type your code here

#### 7. Is the variable 'total_bill' skewed? If yes, identify the type of skewness

In [ ]:
# type your code here

#### 8. Is the tip amount dependent on the total bill?

In [ ]:
# type your code here

#### 9. What is the percentage of males and females in the dataset? and display it in the plot

In [ ]:
# type your code here

#### 10. Is there any relationship between tip and total bill amount? Support your answer with a plot

In [ ]:
# type your code here

#### 11. Which is the busiest day and time at the restaurant?

In [ ]:
# type your code here

#### 12. Compute the gender-wise count based on smoking habits

In [ ]:
# type your code here

#### 13. Compare the tip amount given for different days

In [ ]:
# type your code here

#### 14. Is the average bill amount dependent on the size of the group?

In [ ]:
# type your code here

#### 15. Is the tip amount varying based on gender and time?

In [ ]:
# type your code here

#### 16. Visualize the average bill amount for each day

In [ ]:
# type your code here

#### 17. Plot a horizontal boxplot to compare the bill amount based on gender

In [ ]:
# type your code here

#### 18. Find the maximum bill amount for lunch and dinner on Saturday and Sunday

In [ ]:
# type your code here

## Power Ahead!