# Week-2 Foundations of Python Programming - MLS

## Table of Content
1. Print
2. Data Types
3. Boolean Operations
4. Concatenation
5. Arithmetic Operations
6. List
7. Tuple
8. Set
9. Dictionary
10. Conditional Statements
11. Python Control Flow
12. Print Patterns

## Print
1.1 Write a program to display a statement. For example, "Hello, How are you?"

In [4]:
# type your code here

print("US is the biggest economy in the world")

US is the biggest economy in the world

1.2 Write the alphabets 'A', 'B', 'C' on new lines using a single print function.

In [8]:
# type your code here
print("A\nB\nC")

A
B
C

<a id="types"> </a>
## 2. Data types
Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point

2.1 Declare a string variable and check its data type

In [20]:
# type your code here
string_var= "US is the biggest economy in the world. "


type(string_var)

str

2.2 Declare a numeric variable and check its data type \
i. An interger variable.

In [21]:
# type your code here
int_var = 89

type(int_var)

int

ii. A fractional variable

In [22]:
# type your code here
float_vat = 89.0
type(float_vat)

float

In [23]:
int_var = '89'
type(int_var)

str

<a id="boolean"></a>
## 3. Boolean Operations

Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9

In [24]:
# type your code here

(54+34)* 45 > (0.9*2432)/0.9

True

In [25]:
t=4
y=9

t+y

13

<a id="concatenation"></a>
## 4. Concatenation

4.1 Create two strings and concatenate them using '+' operator.

In [26]:
# type your code here
string_var

string_var2= "currency used in the United States is dollar ($)"


string_var + string_var2

'US is the biggest economy in the world. currency used in the United States is dollar ($)'

## 5. Arithmetic Operations

5.1 Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3

In [28]:
# type your code here

mathcalc = (145*354)  - (1345/45) + (462+23)/3
mathcalc

51461.777777777774

5.2 Evaluate and print the results of the following \
1353 plus 234 \
2355 minus 346 \
234 times 457 \
25 divided by 6 \
Obtain remainder of 25 divided by 6 \
33 raised to 4 \
45 divided by 6 (floor division) \
2 raised to 10

In [39]:
# type your code here
add = 1353+234
print(add)
sub= 2355-346
print(sub)
mul = 234*457
print(mul)
div = 25/6
print(div)

remainder = 25 % 6
print(remainder)

exp = 33**4
print(exp)

floor = 45//6
print(floor)

exp2 = 2**10
print(exp2)

1587
2009
106938
4.166666666666667
1
1185921
7
1024

5.3  Calculate BMI of a person (take input for height and weight from user).

In [51]:
# type your code here

height = float(input('Height (in m):'))
weight = float(input('Weight (in kg):'))

height = float(height)
weight = float (weight)

Height (in m):1.67
Weight (in kg):75

In [52]:
               
type(height)

float

In [53]:

BMI = weight/(height**2)
print(BMI)

26.89232313815483

<a id="list"> </a>
## 6. List

6.1 Write a program to perform following list operations on the list given below:

a. Check the length of mix_list_1 \
b. Check the membership of '24' in mix_list_1 \
c. Concatenate the mix_list_1 and mix_list_2 \
d. Repeat the mix_list_2 three times

In [54]:
list(string_var)

['U',
 'S',
 ' ',
 'i',
 's',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'b',
 'i',
 'g',
 'g',
 'e',
 's',
 't',
 ' ',
 'e',
 'c',
 'o',
 'n',
 'o',
 'm',
 'y',
 ' ',
 'i',
 'n',
 ' ',
 't',
 'h',
 'e',
 ' ',
 'w',
 'o',
 'r',
 'l',
 'd',
 '.',
 ' ']

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [57]:
# type your code here

mix_list_1 = ['Learn', -8, 'Blue', False, 324]
mix_list_2 = [4, 7, 'Summer']


print(len(mix_list_1))

5

**b. Check the membership of '24' in mix_list_1**

In [58]:
# type your code here
print(24 in mix_list_1)

False

**c. Concatenate the mix_list_1 and mix_list_2**

In [59]:
# type your code here

mix_list_3 = mix_list_1 + mix_list_2
mix_list_3

['Learn', -8, 'Blue', False, 324, 4, 7, 'Summer']

In [60]:
mix_list_4  = mix_list_1
mix_list_4.extend(mix_list_2)
mix_list_4

['Learn', -8, 'Blue', False, 324, 4, 7, 'Summer']

In [61]:
mix_list_4.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [66]:
strv=['f', 'c', 'x']

strv.sort(reverse = True)
print(strv)

['x', 'f', 'c']

**d. Repeat the mix_list_2 three times**

In [68]:
# type your code here


repeat = mix_list_2*15
repeat

[4,
 7,
 'Summer',
 4,
 7,
 'Summer',
 4,
 7,
 'Summer',
 4,
 7,
 'Summer',
 4,
 7,
 'Summer',
 4,
 7,
 'Summer',
 4,
 7,
 'Summer',
 4,
 7,
 'Summer',
 4,
 7,
 'Summer',
 4,
 7,
 'Summer',
 4,
 7,
 'Summer',
 4,
 7,
 'Summer',
 4,
 7,
 'Summer',
 4,
 7,
 'Summer',
 4,
 7,
 'Summer']

6.2 Write the program to multiply the two lists

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [69]:
# type your code here
num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

multiplication = num_list_1 * num_list_2

TypeError: can't multiply sequence by non-int of type 'list'

In [70]:
result = [a * b for a, b in zip(num_list_1, num_list_2)]
result

[0, 10, 6, 4]

6.3 Write a code to retrieve elements from a list

a. First element \
b. Second last element \
c. First three elements \
d. Slice the list from 1st index till the last index with an increment of an index by 2

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [71]:
# type your code here

mix_list = ['Python', 1, 2, 3, 'Data', True]

mix_list[0]

'Python'

**b. Second last element**

In [72]:
# type your code here

mix_list[1]

1

In [73]:
mix_list[4]

'Data'

In [74]:
mix_list[-2]

'Data'

In [79]:
n=len(mix_list)-2
print(n)

4

In [80]:
mix_list[n]

'Data'

**c. First three elements**

In [81]:
# type your code here


mix_list[0:3]

['Python', 1, 2]

In [82]:
mix_list[:3]

['Python', 1, 2]

In [83]:
mix_list[3:]

[3, 'Data', True]

6.4 Manipulating a list:

a. Add a new element 'Data' in the given list \
b. Add elements 'Excel' and 'Data' in the given list \
c. Replace an element 'C' with 'C++' in the given list

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [86]:
# type your code here
languages_list = ['R', 'Python', 'C', 'Java']

languages_list.append('Data')


languages_list[2]='Analytics'
languages_list

['R', 'Python', 'Analytics', 'Java', 'Data']

In [93]:
languages_list = ['R', 'Python', 'C', 'Java']

**b. Add elements 'Excel' and 'Data' in the given list**

In [94]:
# type your code here



languages_list.extend(['Excel','Data'])

['R', 'Python', 'C', 'Java', 'Excel', 'Data']

In [96]:
A=[99]
for i in range(1,5):
    A.append(i)
A

[99, 1, 2, 3, 4]

**c. Replace an element 'C' with 'C++' in the given list**

In [98]:
# type your code here
languages_list[2]='C++'
languages_list

['R', 'Python', 'C++', 'Java', 'Excel', 'Data']

6.5 How many times 'Summer' is occuring in a given list?

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [100]:
# type your code here
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

seasons_list.count('Summer')

4

## 7. Tuple
7.1 Write a code to perform operations on tuple:

a. Check the length of num_tuple \
b. Concatenate the num_tuple and mix_tuple \
c. Repeat the mix_tuple two times

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [101]:
# type your code here
num_tuple = (4, 4, 8)

len(num_tuple)

3

**b. Concatenate the num_tuple and mix_tuple**

In [102]:
# type your code here
num_tuple = (4, 4, 8)

mix_tuple = ('John', 5, -2)

concat = num_tuple+ mix_tuple
concat

(4, 4, 8, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [103]:
# type your code here
mix_tuple*2

('John', 5, -2, 'John', 5, -2)

7.2 Add a new element '4' to the given tuple

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [ ]:
# type your code here

7.3 Replace the elements in the given tuple:

a. Replace '2' with '3' \
b. Replace 'True' in first element with 'False'

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [104]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
mix_tuple[1]=3

TypeError: 'tuple' object does not support item assignment

**b. Replace 'True' in first element of the tuple with 'False'**

In [105]:
# type your code here

mix_tuple[0][2]=False
mix_tuple

(['a', 1, False], 2, 'Science', -5)

## 8. Set
8.1 Write the program to perform following manipulations:

a. Add '7' to the given set \
b. Remove '3' from a given set \
c. Clear the set

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [114]:
# type your code here
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)
num_set

{1, 2, 3, 4, 5, 6, 7}

['R', 'Python', 'C++', 'Java', 'Excel', 'Data']

SyntaxError: invalid syntax (3745418868.py, line 1)

**b. Remove '3' from a given set**

In [115]:
# type your code here
num_set.remove(3)
num_set

{1, 2, 4, 5, 6, 7}

In [116]:
del languages_list[2]

In [117]:
languages_list

['R', 'Python', 'Java', 'Excel']

**c. Clear the set**

In [118]:
# type your code here

num_set.clear()
num_set

set()

8.2 Create two sets of words from the given sentences and perform the following operations:

a. Find the count of unique words in each of the sentence \
b. Find the common words in both the sentences

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python'

sentence_2 = 'Python for data science'

**Create set of words**

In [126]:
# type your code here
sentence_1 = 'We shall the analyse the data using python'
sentence_2 = 'Python for data science'

set_1 = set(sentence_1.split())
set_1

set_2= set(sentence_2.split())

**a. Find the number of unique words in the sentences**

In [122]:
# type your code here

len(set_1)

7

In [123]:
len(set_2)

4

In [131]:
import pandas as pd
list1 = list(sentence_1.split())
list1=pd.DataFrame(list1)
list1

         0
0       We
1    shall
2      the
3  analyse
4      the
5     data
6    using
7   python

In [133]:
list1.nunique()

0    7
dtype: int64

**b. Find the common words in both the sentences**

In [135]:
# type your code here

common = set_1.intersection(set_2)
common

{'data'}

<a id="dict"> </a>
## 9. Dictionary

9.1 Write a code to add a key to a dictionary

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

In [136]:
# type your code here
square_dictionary = {1:1, 2:4, 3:9}

square_dictionary.update({4:16})
square_dictionary

{1: 1, 2: 4, 3: 9, 4: 16}

9.2 Write a program to retrieve the keys/values of dictionary

**Use the dictionary**

mix_dictionary = {0:3, 'x':5, 1:2}

In [137]:
# type your code here

mix_dictionary = {0:3, 'x':5, 1:2}
mix_dictionary.keys()

dict_keys([0, 'x', 1])

In [138]:
mix_dictionary.values()

dict_values([3, 5, 2])

9.3 Write a program to get the value for 'Age' from the dictionary

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [139]:
# type your code here
emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [140]:
# type your code here

emp_record['Age']

27

## 10. Conditional Statements

10.1 Write a program to check whether a given number is multiple of 7 (use if statement)

In [144]:
# type your code here

number = int(input())
if number%7==0:
    print('multiple of 7')
else:
    print('Not a multiple of 7')

KeyboardInterrupt: Interrupted by user

10.2 Write a code to print the maximum of two numbers (use if-else)

In [145]:
# type your code here

x = 55
y=7

if x>y:
    print(x)
else:
    print(y)

55

10.3 Write a program to check whether a number is positive, negative or zero (use if-elif)

In [147]:
# type your code here
number = int(input())

if number ==0:
    print('number is zero')
elif number >0 :
    print('number is positive')
else:
    print('number is negative')

0
number is zero

## 11. Python Flow Control

11.1 Write a code to print table of 5 using assignment operand +=

In [148]:
# type your code here

total = 0
for i in range(1,11):
    total+=5
    print('5 times %d is %d' %(i, total))

5 times 1 is 5
5 times 2 is 10
5 times 3 is 15
5 times 4 is 20
5 times 5 is 25
5 times 6 is 30
5 times 7 is 35
5 times 8 is 40
5 times 9 is 45
5 times 10 is 50

11.2 Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop

In [149]:
# type your code here

a=0
b=1

fibo=[a,b]

i=1

while i<11:
    c=a+b
    a=b
    b=c
    i+=1
    fibo.append(c)
    
fibo

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## 12. Print Patterns

12.1 How to print full pyramid and asterisk(star) patterns in python

        *   
       *  *   
      *  *  *   
     *  *  *  *   
    *  *  *  *  *

In [150]:
# type your code here

size = 5
m = (2*size)-2
for i in range(0,size):
    for j in range(0,m):
        print(end=" ")
    m = m-1
    for k in range(0, i+1):
        print("* ", end=" ")
    print(" ")

        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

12.2 Form a lower tringular matrix in ' * ' pattern

*
* *  \\
* * *  \\
* * * *  \\
* * * * *  \\

In [151]:
# type your code here

for i in range(0,5):
    for j in range(0, i+1):
        print("* ", end=" ")
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *