# Python Pre Work

## Content

<a href = '#sec1'> 1.Strings </a>

<a href = '#sec2'> 2. Data Structures </a>

<a href = '#sec3'> 3. Loops,if else, elif </a>

<a href = '#sec4'> 4. Funtions, lamdba, map and filter </a>

Here in jupyter file  '#'  is used to show comments in code

In Markdown '#' is used for headings, "##" for smaller font

In [1]:
# normal addition can directly be done in python
2 + 2

4

In [2]:
a = 1                     # assigning value 1 to variable a 
b = 2                     # 2 is assigned to b
print(a+b)                # Print is used to show the desired output

3

In [3]:
a+b
a-b

# if print is not used than the code is only shown
# if you want to see output for both the operation will have to use print for both

-1

In [4]:
type(a) #type function tells the type of the variable entered

int

In [5]:
print(a+b)
print(a-b)
print()               #blank print will give space of a line between different print statements

## you could use quotes to print a statement with the desired output
print('sum of a and b is',a+b)
print()
## Use double quotes if there is single quote in the output statement itself, usually double quotes are preferred for print
print("Sum of A and b is' ",a+b)
print()
## Use triple quotes if you want to print a paragraph
print('''Sum
of a + b
is:''', a+b)

3
-1

sum of a and b is 3

Sum of A and b is'  3

Sum
of a + b
is: 3

<a id = 'sec1'></a>

## Strings

In [6]:
s = "Great Learning 123 #"            #assigning a string to a variable s, string has both numbers,alphabetes and characters

#counting in python always starts from 0
s[2:]                              # this will give all the letters from 2, i.e. leave 0th and 1st letter

'eat Learning 123 #'

In [7]:
s[2:5]             #This will give letters starting from 2nd till 4th
# Note: if we give "2:5" it ends at 4th letter not 5th

'eat'

In [8]:
s[:7]             #This will give letters from starting till 6th

'Great L'

In [9]:
s[:-1]   #This will give letters from starting but leave the last one

'Great Learning 123 '

In [10]:
s[-1:]    #This will only give the last letter

'#'

In [11]:
s[1:8:2]  # This will print letters starting from 1st position to the 7th position but will print alternate letters
# Number after second colon denotes step size, 2 here leaves one out, if used 3 it will leave 2 out

'ra e'

In [12]:
type(s)           #type is used to find the of the element

str

####  Q] Think how to print string in reverse order

In [13]:
len(s)    #len gives overall length of the string

20

In [14]:
s.upper()  #used for making every letter in string as uppercase(Capital letter)

'GREAT LEARNING 123 #'

In [15]:
s.lower()   #used for making every letter in string as lowercase(Small letter)

'great learning 123 #'

In [16]:
s.capitalize()        #used when only first letter is supposed to be capital

'Great learning 123 #'

#### Take input from user and store it in two variables. Print the sum of those two variables as output

In [17]:
a = input()                          # input command is used to take input from user and that will be stored in 'a'
a = int(a)                           # input is stored in string format, therefore 'int' is used to convert it in integer
b = int(input())
print()
print("a is:",a,"b is:",b,"\n and therefore sum equals to:",a+b)           # '\n' is used to print the statement in next line

3
4

a is: 3 b is: 4
 and therefore sum equals to: 7

In [18]:
s1 = "hello"
s2 = "world!"
# concatenate two strings
print(s1 + s2)
print(s1,s2)
print()

# concatenate same string
print(s1*2)

helloworld!
hello world!

hellohello

#### Calculate BMI. The height and wt of the person should me inputed by user.

In [19]:
ht = float(input("Enter height in cm:"))              # 'float' is the data type where values can be in decimal as well
wt = float(input("Enter weight in Kg:"))
ht1 = ht/100                                          # coverting height to meters
BMI = wt/(ht1**2)                                     # applying formula of BMI i.e weight per unit height square 
print()
print ("Body Mass Index of the person",round(BMI,1))
# round function is used to round off the decimal value, 1 here is for only 1 digit after decimal

Enter height in cm:177.5
Enter weight in Kg:78

Body Mass Index of the person 24.8

#### Swapping of variables

In [20]:
a = 12
b =7
print("a:",a,"b:",b)
print()
a,b = b,a               # assigning value of a to b and b to a
print("a:",a,"b:",b)

a: 12 b: 7

a: 7 b: 12

#### Data Types

1. Numeric : int or float

2. Text/String

3. Boolean = true/false
(true = 1 and false =0)

In [21]:
True + True

2

In [22]:
False + True        #Value of false is '0' and True is '1'

1

In [23]:
# chech if true = 1
True ==1 #Comparison
## '==' check if the values are equal or not if equal it return boolean value

True

In [24]:
True != 1
## '!=' check if the values are not equal,it return boolean value as well.

False

In [25]:
a = True
type(a)

bool

<a id = 'sec2'></a>

## Data Structures

1. Sequence Types:	list, tuple

2. Mapping Type:	dict

3. Set Types:	set

#### Bracket Summary

( ): parenthesis used for calling the functions, ex: sum, mean etc.

[ ]: indexing or accessing, going inside the object like string. Simply a list.

{ }: Dictinories/sets in python

#### List

In [26]:
l = [2,12,33,494,5,32,33,5,12]        # 'l' is the list containing different values 
type(l)

list

In [27]:
len(l)

9

In [28]:
l[0]       #first element of list

2

In [29]:
l[0]=81        #changing first value of the list
l

[81, 12, 33, 494, 5, 32, 33, 5, 12]

In [30]:
l[2:5]        # shows the elements from 2nd position to 4th position

[33, 494, 5]

In [31]:
min(l)    #gives minimum value of the list

5

In [32]:
max(l)    #gives maximum value of the list

494

In [33]:
l.sort()     #used for sorting the list in ascending order
print(l)     #in order to view changes done by the 'sort' function we will have to print list

[5, 5, 12, 12, 32, 33, 33, 81, 494]

In [34]:
l.sort(reverse=True)    #used for sorting the list in descending order
l

[494, 81, 33, 33, 32, 12, 12, 5, 5]

In [35]:
l.count(12)            # here count function counts number of times 12 occurs in the list

2

In [36]:
ll = l.copy()            # 'copy' is used to copy the list as it is
ll

[494, 81, 33, 33, 32, 12, 12, 5, 5]

In [37]:
l.index(32)            # gives the index of the value entered in the function

4

In [38]:
l.insert(5,100)       # function takes two input
                      # first the index where value is to be inserted and second the value to be inserted
l                     # rest of the value are still there, it doesnt replace the existing value

[494, 81, 33, 33, 32, 100, 12, 12, 5, 5]

In [39]:
l.remove(33)        #removes the value from the list, if duplicates are there, then only removes first one
l

[494, 81, 33, 32, 100, 12, 12, 5, 5]

In [40]:
print(l)
print()
l.reverse()          # reverse the order of list without disturbing the sequence
print(l)

[494, 81, 33, 32, 100, 12, 12, 5, 5]

[5, 5, 12, 12, 100, 32, 33, 81, 494]

In [41]:
print(l)
z = l.pop(5)              # take the index as input, removes the value from that index of the list, and gives it as the output
print()
print(z)
print()
print(l)

[5, 5, 12, 12, 100, 32, 33, 81, 494]

32

[5, 5, 12, 12, 100, 33, 81, 494]

In [42]:
l1 = [20,31,46]
l2 = [55,62,3]
l1.extend(l2)             # extends the values from l2 list in l1
l1

[20, 31, 46, 55, 62, 3]

In [43]:
l3 = [56,2,90]
l2.append(l3)          #whole list l3 becomes the last element of the list l2
l2

[55, 62, 3, [56, 2, 90]]

In [44]:
l.clear()   # emptys the list, delets all the elements from the list
l

[]

#### Tuples

In [45]:
t = (23,12,49,34,12)             #tuples are a form of list, whose elements cannot be changed
type(t)

tuple

In [46]:
t.count(12)

2

In [47]:
t.index(12)

1

In [48]:
t[0]=100                     # tried changing the first element of tuple, but shows error. Since tuples are immutable

TypeError: 'tuple' object does not support item assignment

#### Dictionary

In [49]:
d = {'Name':'John Wick','Age':47,'Address':'NY'}    #dictionary contains keys and values
type(d)

dict

In [50]:
dd = {'Name':['John Wick','Jason'],'Age':[47,50],'Address':['NY','LA']} # values can be more than one
dd

{'Name': ['John Wick', 'Jason'], 'Age': [47, 50], 'Address': ['NY', 'LA']}

In [51]:
len(dd)         # length is based on number of keys

3

In [52]:
dd.keys()            # to get keys of the dict

dict_keys(['Name', 'Age', 'Address'])

In [53]:
dd.values()          # to get values of the dict

dict_values([['John Wick', 'Jason'], [47, 50], ['NY', 'LA']])

In [54]:
dd.items()          # to get combination keys and values in one tuple

dict_items([('Name', ['John Wick', 'Jason']), ('Age', [47, 50]), ('Address', ['NY', 'LA'])])

In [55]:
d.pop('Name')       #removes the key and values associated with it
d

{'Age': 47, 'Address': 'NY'}

In [56]:
d1 = {'Name':'John Wick','Address':'LA'}        # update the dict, if the key is present it gets updated, if not it gets created
d.update(d1)
d

{'Age': 47, 'Address': 'LA', 'Name': 'John Wick'}

In [57]:
dd.get('Age')  #gives the values associated with the input key

[47, 50]

In [58]:
d2 = d.copy()   # copy the dict as it is
d2

{'Age': 47, 'Address': 'LA', 'Name': 'John Wick'}

In [59]:
d.clear()        #empty's the dict. Removes all keys and values
d

{}

In [60]:
d = d.fromkeys(list('ABCD'))       # form keys in the dict based on the input, it has to be stored in another variable
d

{'A': None, 'B': None, 'C': None, 'D': None}

In [61]:
d['A'] = 11               # assigning the value to key 'A'
d['D'] = [55,34]
d['E'] = 3                 # if the key isnt there, it creates and assigns the value
d

{'A': 11, 'B': None, 'C': None, 'D': [55, 34], 'E': 3}

#### Sets

In [62]:
set1 = {1,4,3,4,4,3,5,6,7,8,9,6,8,5,436,54,876,56}             #if only values are there then its a set not a dict
set2 = {9,8,9,5,7,4,6,57,88,7654,8,876,467,887,65}

In [63]:
type(set1)

set

In [64]:
len(set1)

12

In [65]:
set1                                # set doesnt have duplicate values

{1, 3, 4, 5, 6, 7, 8, 9, 54, 56, 436, 876}

In [66]:
print(set1.union(set2))                 # gives union of the two sets i.e all the values in both the set

{1, 65, 3, 4, 5, 6, 7, 8, 9, 467, 88, 7654, 876, 436, 54, 887, 56, 57}

In [67]:
set1.intersection(set2)                 # gives intersection of the two sets i.e all same values in both the set

{4, 5, 6, 7, 8, 9, 876}

In [68]:
set1.difference(set2)                    # gives the values of set1 not present in set 2

{1, 3, 54, 56, 436}

In [69]:
print(set1.symmetric_difference(set2))      # gives difference between the two sets i.e all values not similar in both the set

{65, 1, 3, 7654, 467, 436, 54, 887, 88, 57, 56}

<a id = 'sec3'></a>

## Loops, IF else and Elif

In [70]:
# Use IF ELSE staement, to find which of the two number is greater

a = 12
b = 90

if a>b:                                           # There has to be some space in next line after IF statement
    print("a is greater than b")                  # or else induntation error will occur
else:
    print("b is greater than a")

b is greater than a

#### Note: 'and' is used when both conditions has to be satisfied, 'or' is used when either of conditions has to be satisfied

In [71]:
# Find which of the three number is greater
a = 12
b = 40
c = 100

if a>b and a>c:                              #'and' is used when both conditions has to be satisfied,
    print("a is greatest")                   # if more than two cases elif is used
elif b>a and b>c:
    print("b is greatest")    
else:
    print("c is greatest")

c is greatest

#### Write code to print grades according to marks obtained

if 80 and above- excellent

if 70 and above- Good

if 60 and above- Average

if less than 60- Not acceptable

In [72]:
marks= 67

if (marks>79):
    print("Excellent")
elif (marks>69 and marks<80):
    print("Good")
elif (marks>59 and marks<70):
    print("Average")
else:
    print("Not Acceptable")

Average

#### For Loop

In [73]:
list(range(0,5))          #range 0 to 5 means it will take values 0,1,2,3,4

[0, 1, 2, 3, 4]

In [74]:
for x in range(0,5): # 0 is start, 5 is stop point i.e. loop will run 5 times (0,1,2,3,4)
    print (x)        # in every iteration it prints the value of iteration

0
1
2
3
4

In [75]:
for z in range(0,5,2): # 0 is start, 5 is stop point and 2 is step (i.e. misses one value)
    print (z)

0
2
4

In [76]:
for item in l3:              # here for loop is used to print each item in the list l
    print(item)              # in every iteration it prints the each value of the list as per the index

56
2
90

In [77]:
for item in range(0,len(l1)):
    print("Position in list:",item,", element is:",l1[item],)

Position in list: 0 , element is: 20
Position in list: 1 , element is: 31
Position in list: 2 , element is: 46
Position in list: 3 , element is: 55
Position in list: 4 , element is: 62
Position in list: 5 , element is: 3

#### Print every 2nd element "analyticsvidhya.com"

In [78]:
string = ("analyticsvidhya.com")
se = []                         # blank list to store output from the loop
for i in range(len(string)):      # runs from 0 till the length of the string
    if i%2==0:                  # condition applied for even position, '%' gives remainder.
                                # if 'i' divided by 2 leaves a remainder zero than 'if' codition will move forward.       
        se.append(string[i])
print(se)
print()
print(''.join(se))            # 'join' joins the elemnt of the list, the element should be string 
print('-'.join(se))           #  and '-' is used as method to join

['a', 'a', 'y', 'i', 's', 'i', 'h', 'a', 'c', 'm']

aayisihacm
a-a-y-i-s-i-h-a-c-m

#### While Loop

It can run for infinite iterations, where in 'for' loop case you have to specify the range. Here range can be specified or it can run unless you say it to break.

In [79]:
i=0                # initiate a value of i
while (i<=8):      # while loop will run till 'i' is equal to 8
    print (i)      # this will print value of i in each iteration
    i=i+1          # adding 1 in value of 'i' in each iteration

0
1
2
3
4
5
6
7
8

#### Square of n numbers, input:4, output: 1,4,9,16

In [81]:
a=int(input("Enter a number "))       
i=0
while (i<=a):           # loop will run till value of 'i' is equal to user's input
    print(i*i)          # this will print square of the number
    i+=1                # adding 1 in value of 'i' in each iteration

Enter a number 7
0
1
4
9
16
25
36
49

#### Ask user the input of his choice whether he wants to convert the temperature from degree F to degree C or  from degree C to degree F

Having said that, based on the choice, conversion of the temp should take place

In [82]:
print ("Enter 0 for Temperature conversion in F to C")
print ("Enter 1 for Temperature conversion in C to F")

while (True):                          # No condition is mentioned here, to terminated 'while' loop
    a= input("Entre the Choice = " )   # it will keep asking for choice unless its 0 or 1
    if (a=="0" or a=="1"):
        break                   # 'break' will end the while loop, i.e. if value of a is equal to 0 or 1, while loop terminates
    
        
if (a=="0"):                    # if user input value is 0 this code will run
    temp=float(input("Enter the temperature in degree Fahrenheit = "))
    C=(temp-32)*5/9                                                    # formula to convert fahrenheit to celsius
    hare
    print("Temp in degree Celsius = ",round(C,2))
elif (a=="1"):                   # if user input value is 1 this code will run
    temp=float(input("Enter the temperature in degree Celsius = "))
    F=(temp*9/5)+32                                                         # formula to convert celsius to fahrenheit
    print("Temp in degree Fahrenheit = ",round(F,2))

Enter 0 for Temperature conversion in F to C
Enter 1 for Temperature conversion in C to F
Entre the Choice = 1
Enter the temperature in degree Celsius = 37
Temp in degree Fahrenheit =  98.6

#### Use of in function to check how many elements of list1 are in list 2

In [2]:
list1 = [22,33,44,55,66,77,88,99]
list2 = [11,222,33,444,55,66,777,88,99,10]

c= 0
for i in list1:
    if i in list2:
        c = c + 1
        
print("Number of elements of list1 in list2 are:",c)

Number of elements of list1 in list2 are: 5

<a id = 'sec4'></a>

## Funtions, lamdba and map

#### Functions

1. optimize the code

2. reuse it within the script/code window

3. eliminate redundancy/repetition

4. combination of if else, loops, statements, variables and it can have built in functions

keyword: def ...to define function... Function name ...it is user defined name
Parameter: the parameter are defined ny parenthesis

Syntax: defunction_name(parameter)

At the end return should be used to get the output of the function

In [83]:
#Text function
def hello(name):                         # a funtion that says hello with your name, if your name is entered as a parameter
    return ("Hello " + name)

In [84]:
hello('John')

'Hello John'

In [85]:
#a function to add three numbers
def sum_nos(x,y,z):          
    return (x+y+z)

In [86]:
sum_nos(4,5,6)

15

#### Make a function that takes n arguments and print the even nos from those

In [87]:
def even(*n):                     # '*' here means that function can take n number of inputs
    for i in n:                   # loop is applied so that every element entered in the function should be considered
        if (i%2==0):
            print(i)

even(1,2,3,4,5,6,7,8,9)

2
4
6
8

#### Lambda

It works same as a function, a temporary function.

Lambda input variable : desired output

is the syntax of lambda

In [88]:
sq = lambda x:x**2               # lambda function for getting square of the number as output

In [89]:
sq(25)

625

In [90]:
divl= lambda x:x**2 if (x%2==0) else ("abc")
# lambda function for getting square of the number as output when its even else 'abc' as an output
divl(8)

64

In [91]:
divl(7)

'abc'

#### Write the function that prints even if length of the name is even, else prints name itself

In [92]:
def even_nam(x):                 
    if(len(x)%2==0):             # 'if' condition helps to filter out names having length as even
        return ("even")          # return function will give the output as "even"
    else:
        return (x)               # if the 'if' condition is not satisfied than, return function will give the name as it is.

In [93]:
nam = ["raj","rajveer","raja","rahulo"]            # list of names

In [94]:
list(map(even_nam, nam))  # 'map' function links list of names and the function created
                          # 'map' sees that function is applied to each element of the list
                          # map function only does the mapping part, list is used to see the output

['raj', 'rajveer', 'even', 'even']

In [95]:
em = lambda x:"even" if len(x)%2==0 else x
# Here x is input variable and "even" is the output
# because of 'if' condition "even" output will be only given when the 'if' condition is satisfied
# or else 'else' condition output will be given

In [96]:
list(map(em, nam))

['raj', 'rajveer', 'even', 'even']

#### Get only even numbers from the list as it is and odd numbers as zero, use map and lambda

In [97]:
nums = [0,12,23,34,41,500,65,74,82,19,120]

In [98]:
list(map(lambda x: x if x%2==0 else 0,nums))

[0, 12, 0, 34, 0, 500, 0, 74, 82, 0, 120]

# --------------------------------- HAPPY LEARNING ----------------------------------------------

# Note:

1. Start practicing python from Hackerank.
https://www.hackerrank.com/domains/python


2. Use w3schools site to clear your doubts.
https://www.w3schools.com/python/default.asp


3. Try solving your doubts on your own using google, it helps.


4. Keep Practicing