In [1]:
3 + 2 == 5

True

In [2]:
# Which of the following code snippet can be used to calculate the area of a triangle with base = 10 and height = 5?
# Area of triangle = (base*height)/2
base = 10.
height = 5.
areaOfTriangle = (base*height)/2
print(areaOfTriangle)

25.0

In [3]:
area = 0.5 * 10 * 5 
print("Area of triangle:", area)

Area of triangle: 25.0

In [4]:
area = 10 * 5 ** 0.5 
print("Area of triangle:", area)

Area of triangle: 22.360679774997898

In [5]:
area = 10 * 5 
print("Area of triangle:", area)

Area of triangle: 50

In [6]:
area = 0.5 ** 10 * 5 
print("Area of triangle:", area)

Area of triangle: 0.0048828125

In [7]:
#What will be the value of z in the following expression?

v = 10
w = 25
x = 70
y = 2
z = (v + w) * (x / y)
print(z)

1225.0

In [9]:
# Which of the following codes can be used to replace the first element of the list fruit with "strawberries"?

fruit1 = ["apple","orange","grapes","watermelon"]
fruit1.append('strawberries')
fruit1

['apple', 'orange', 'grapes', 'watermelon', 'strawberries']

In [10]:
fruit2 = ["apple","orange","grapes","watermelon"]
fruit2.replace('strawberries')
fruit2

AttributeError: 'list' object has no attribute 'replace'

In [11]:
fruit3 = ["apple","orange","grapes","watermelon"]
fruit3[1] = "strawberries"
fruit3

['apple', 'strawberries', 'grapes', 'watermelon']

In [12]:
fruit4 = ["apple","orange","grapes","watermelon"]
fruit4[0] = "strawberries"
fruit4

['strawberries', 'orange', 'grapes', 'watermelon']

In [13]:
#Which of the following snippets can be used to iterate through the list and print its elements?

alphabet = ['a','b','c']

In [14]:
for i in alphabet:
 print(i)

a
b
c

In [15]:
for i in range(alphabet):
 print(i)

TypeError: 'list' object cannot be interpreted as an integer

In [16]:
for i in alphabet:
 print i

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(i)? (3270939964.py, line 2)

In [17]:
for i in range(len(alphabet)):
 print(i)

0
1
2

In [18]:
''' Choose the appropriate snippet to create and print a dictionary with the following information.

brand = Audi

Model = Q2

Year = 1980
'''
car = [ "brand" : "Audi","model" : "Q2", "year" : 1980]
print(car)

SyntaxError: invalid syntax (2558945854.py, line 9)

In [19]:
car = { "brand" - "Audi","model" - "Q2", "year" - 1980}
print(car)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [20]:
car = { "brand" : "Audi","model" : "Q2", "year" : 1980}
print(car)

{'brand': 'Audi', 'model': 'Q2', 'year': 1980}

In [23]:
type(car)

dict

In [22]:
car = { {"brand" : "Audi"}, {"model" : "Q2"}, {"year" : 1980}}
print(car)

TypeError: unhashable type: 'dict'

# Which among the following code snippets can be used to calculate the average marks of a student in 5 subjects, and give grades according to the following rules:

- If average > 90, then Grade = A

- If average > 80, then Grade = B

- If average > 70, then Grade = C

- If average > 60, then Grade = D

- If average > 50, then Grade = E
#

In [25]:
m1 = 72
m2 = 85
m3 = 96
m4 = 42
m5 = 95
avg = (m1 + m2 + m3 + m4 + m5) / 4
print("Average=", avg)
if avg > 90:
 print("Grade A")
else if avg > 80:
 print("Grade B")
else if avg > 70:
 print("Grade C")
else if avg > 60:
 print("Grade D")
else if avg > 50:
 print("Grade E")
else:
 print("Fail")

SyntaxError: invalid syntax (3957564366.py, line 10)

In [26]:
m1 = 72
m2 = 85
m3 = 96
m4 = 42
m5 = 95
avg = (m1 + m2 + m3 + m4 + m5) / 4
print("Average =", avg)
if avg > 90:
 print("Grade A")
elif avg > 80:
 print("Grade B")
elif avg > 70:
 print("Grade C")
elif avg > 60:
 print("Grade D")
elif avg > 50:
 print("Grade E")
else:
 print("Fail")

Average = 97.5
Grade A

In [27]:
m1 = 72
m2 = 85
m3 = 96
m4 = 42
m5 = 95
avg = (m1 + m2 + m3 + m4 + m5) / 5
print("Average=", avg)
if avg > 90:
 print("Grade A")
elif avg > 80:
 print("Grade B")
elif avg > 70:
 print("Grade C")
elif avg > 60:
 print("Grade D")
elif avg > 50:
 print("Grade E")
else:
 print("Fail")

Average= 78.0
Grade C

# Choose the appropriate snippet to print the messages with the following information.

### For numbers 1 to 100:

 - If a number is divisible by 3, then print Fizz.

 - If a number is divisible by 5, then print Buzz.

 - If a number is divisible by 3 and 5 both, then print FizzBuzz.

 - If a number is neither divisible by 3 or 5, just print the number.

In [1]:
for i in range(1, 101):
 if(i % 3 = 0 or i % 5 = 0):
     print("FizzBuzz")
 elif (i % 3 == 0):
     print("Fizz")
 elif(i % 5 == 0):
     print("Buzz")
 else: 
     print(i)

SyntaxError: invalid syntax (713608295.py, line 2)

In [2]:
for i in range(1, 100):
 if(i % 3 == 0 or i % 5 == 0):
     print("FizzBuzz")
 elif (i % 3 == 0):
     print("Fizz")
 elif(i % 5 == 0):
     print("Buzz")
 else: 
     print(i)

1
2
FizzBuzz
4
FizzBuzz
FizzBuzz
7
8
FizzBuzz
FizzBuzz
11
FizzBuzz
13
14
FizzBuzz
16
17
FizzBuzz
19
FizzBuzz
FizzBuzz
22
23
FizzBuzz
FizzBuzz
26
FizzBuzz
28
29
FizzBuzz
31
32
FizzBuzz
34
FizzBuzz
FizzBuzz
37
38
FizzBuzz
FizzBuzz
41
FizzBuzz
43
44
FizzBuzz
46
47
FizzBuzz
49
FizzBuzz
FizzBuzz
52
53
FizzBuzz
FizzBuzz
56
FizzBuzz
58
59
FizzBuzz
61
62
FizzBuzz
64
FizzBuzz
FizzBuzz
67
68
FizzBuzz
FizzBuzz
71
FizzBuzz
73
74
FizzBuzz
76
77
FizzBuzz
79
FizzBuzz
FizzBuzz
82
83
FizzBuzz
FizzBuzz
86
FizzBuzz
88
89
FizzBuzz
91
92
FizzBuzz
94
FizzBuzz
FizzBuzz
97
98
FizzBuzz

In [3]:
for i in range(1, 101):
 if(i % 3 == 0 and i % 5 == 0):
     print("FizzBuzz")
 elif (i % 3 == 0):
     print("Fizz")
 elif(i % 5 == 0):
     print("Buzz")
 else: 
     print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [4]:
for i in range(1, 100):
 if(i % 3 == 0 and i % 5 == 0):
     print("FizzBuzz")
 elif (i % 3 == 0):
     print("Fizz")
 elif(i % 5 == 0):
     print("Buzz")
 else: 
     print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz