In [1]:
3 + 2 == 5

True

In [2]:
# Which of the following code snippet can be used to calculate the area of a triangle with base = 10 and height = 5?
# Area of triangle = (base*height)/2
base = 10.
height = 5.
areaOfTriangle = (base*height)/2
print(areaOfTriangle)

25.0

In [3]:
area = 0.5 * 10 * 5 
print("Area of triangle:", area)

Area of triangle: 25.0

In [4]:
area = 10 * 5 ** 0.5 
print("Area of triangle:", area)

Area of triangle: 22.360679774997898

In [5]:
area = 10 * 5 
print("Area of triangle:", area)

Area of triangle: 50

In [6]:
area = 0.5 ** 10 * 5 
print("Area of triangle:", area)

Area of triangle: 0.0048828125

In [7]:
#What will be the value of z in the following expression?

v = 10
w = 25
x = 70
y = 2
z = (v + w) * (x / y)
print(z)

1225.0

In [9]:
# Which of the following codes can be used to replace the first element of the list fruit with "strawberries"?

fruit1 = ["apple","orange","grapes","watermelon"]
fruit1.append('strawberries')
fruit1

['apple', 'orange', 'grapes', 'watermelon', 'strawberries']

In [10]:
fruit2 = ["apple","orange","grapes","watermelon"]
fruit2.replace('strawberries')
fruit2

AttributeError: 'list' object has no attribute 'replace'

In [11]:
fruit3 = ["apple","orange","grapes","watermelon"]
fruit3[1] = "strawberries"
fruit3

['apple', 'strawberries', 'grapes', 'watermelon']

In [12]:
fruit4 = ["apple","orange","grapes","watermelon"]
fruit4[0] = "strawberries"
fruit4

['strawberries', 'orange', 'grapes', 'watermelon']

In [13]:
#Which of the following snippets can be used to iterate through the list and print its elements?

alphabet = ['a','b','c']

In [14]:
for i in alphabet:
 print(i)

a
b
c

In [15]:
for i in range(alphabet):
 print(i)

TypeError: 'list' object cannot be interpreted as an integer

In [16]:
for i in alphabet:
 print i

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(i)? (3270939964.py, line 2)

In [17]:
for i in range(len(alphabet)):
 print(i)

0
1
2

In [ ]:
''' Choose the appropriate snippet to create and print a dictionary with the following information.

brand = Audi

Model = Q2

Year = 1980
'''