# Week-2 Foundations of Python Programming - MLS

## Table of Content
1. Print
2. Data Types
3. Boolean Operations
4. Concatenation
5. Arithmetic Operations
6. List
7. Tuple
8. Set
9. Dictionary
10. Conditional Statements
11. Python Control Flow
12. Print Patterns

## Print
1.1 Write a program to display a statement. For example, "Hello, How are you?"

In [1]:
# type your code here
print("Hello, How are you?")

Hello, How are you?

1.2 Write the alphabets 'A', 'B', 'C' on new lines using a single print function.

In [2]:
# type your code here
print("A\nB\nC")

A
B
C

<a id="types"> </a>
## 2. Data types
Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point

2.1 Declare a string variable and check its data type

In [3]:
# type your code here
str = "hello"
type(str)

str

2.2 Declare a numeric variable and check its data type \
i. An interger variable.

In [4]:
# type your code here
num = 100
type(num)

int

ii. A fractional variable

In [5]:
# type your code here
fracNum = 10.
type(fracNum)

float

<a id="boolean"></a>
## 3. Boolean Operations

Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9

In [6]:
# type your code here
(54+34)* 45 == (0.9*2432)/0.9

False

<a id="concatenation"></a>
## 4. Concatenation

4.1 Create two strings and concatenate them using '+' operator.

In [7]:
# type your code here
str1 = "string1"
str2 = "string2"
print(str2+" "+str2)

string2 string2

## 5. Arithmetic Operations

5.1 Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3

In [8]:
# type your code here
var = 145*354-1345/45+ (462+23)/3
print(var)

51461.777777777774

5.2 Evaluate and print the results of the following \
1353 plus 234 \
2355 minus 346 \
234 times 457 \
25 divided by 6 \
Obtain remainder of 25 divided by 6 \
33 raised to 4 \
45 divided by 6 (floor division) \
2 raised to 10

In [9]:
# type your code here
print(1353+234)
print(2355-346)
print(234*457)
print(25/6)
print(25%6)
print(33**4)
print(45//6)
print(2^10)
1.67

1587
2009
106938
4.166666666666667
1
1185921
7
8

5.3  Calculate BMI of a person (take input for height and weight from user).

In [14]:
# type your code here
height = input("Please enter height (in m): ")
weight = input("Please enter weight (in kg): ")
height = float(height)
weight = float(weight)
bmi = weight/(height**2)

Please enter height (in m):  1.67
Please enter weight (in kg):  87

In [15]:
print(bmi)

31.1950948402596

<a id="list"> </a>
## 6. List

6.1 Write a program to perform following list operations on the list given below:

a. Check the length of mix_list_1 \
b. Check the membership of '24' in mix_list_1 \
c. Concatenate the mix_list_1 and mix_list_2 \
d. Repeat the mix_list_2 three times

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [16]:
# type your code here
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
len(mix_list_1)

5

**b. Check the membership of '24' in mix_list_1**

In [17]:
# type your code here
24 in mix_list_1

True

**c. Concatenate the mix_list_1 and mix_list_2**

In [20]:
# type your code here
mix_list_2 = [4, 7, 'Summer']

mix_list_1 + mix_list_2

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [19]:
# type your code here
mix_list_2 * 3

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

6.2 Write the program to multiply the two lists

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [22]:
# type your code here
num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1]

num_list_1 * num_list_2

TypeError: can't multiply sequence by non-int of type 'list'

6.3 Write a code to retrieve elements from a list

a. First element \
b. Second last element \
c. First three elements \
d. Slice the list from 1st index till the last index with an increment of an index by 2

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [24]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]
mix_list[0]

'Python'

**b. Second last element**

In [27]:
# type your code here
mix_list[-2]

'Data'

**c. First three elements**

In [29]:
# type your code here
mix_list[0:3]

['Python', 1, 2]

6.4 Manipulating a list:

a. Add a new element 'Data' in the given list \
b. Add elements 'Excel' and 'Data' in the given list \
c. Replace an element 'C' with 'C++' in the given list

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [31]:
# type your code here
languages_list = ['R', 'Python', 'C', 'Java']
languages_list.append('Data')
languages_list

['R', 'Python', 'C', 'Java', 'Data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [36]:
# type your code here
languages_list.extend( ['Excel','Data'])
languages_list

['R', 'Python', 'C', 'Java', 'Data', 'Excel', 'Data']

**c. Replace an element 'C' with 'C++' in the given list**

In [37]:
# type your code here
languages_list[2] = "C++"
languages_list

['R', 'Python', 'C++', 'Java', 'Data', 'Excel', 'Data']

6.5 How many times 'Summer' is occuring in a given list?

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [38]:
# type your code here
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

seasons_list.count('Summer')

4

## 7. Tuple
7.1 Write a code to perform operations on tuple:

a. Check the length of num_tuple \
b. Concatenate the num_tuple and mix_tuple \
c. Repeat the mix_tuple two times

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [39]:
# type your code here
num_tuple = (4, 4, 8)
mix_tuple = 'John', 5, -2

len(num_tuple)

3

**b. Concatenate the num_tuple and mix_tuple**

In [40]:
# type your code here
num_tuple + mix_tuple

(4, 4, 8, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [41]:
# type your code here
mix_tuple * 2

('John', 5, -2, 'John', 5, -2)

7.2 Add a new element '4' to the given tuple

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [47]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)

mix_tuple.append(4)
mix_tuple

AttributeError: 'tuple' object has no attribute 'append'

7.3 Replace the elements in the given tuple:

a. Replace '2' with '3' \
b. Replace 'True' in first element with 'False'

In [48]:
mix_tuple[1]=3
mix_tuple

TypeError: 'tuple' object does not support item assignment

In [49]:
mix_tuple[0][2]=False
mix_tuple

(['a', 1, False], 2, 'Science', -5)

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [50]:
# type your code here
mix_tuple[1]=3
mix_tuple

TypeError: 'tuple' object does not support item assignment

**b. Replace 'True' in first element of the tuple with 'False'**

In [51]:
# type your code here
mix_tuple[0][2]=False
mix_tuple

(['a', 1, False], 2, 'Science', -5)

## 8. Set
8.1 Write the program to perform following manipulations:

a. Add '7' to the given set \
b. Remove '3' from a given set \
c. Clear the set

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [61]:
# type your code here
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)
num_set

{1, 2, 3, 4, 5, 6, 7}

**b. Remove '3' from a given set**

In [63]:
# type your code here
num_set = {1, 2, 3, 4, 5, 6}
num_set.remove(3)
num_set

{1, 2, 4, 5, 6}

**c. Clear the set**

In [65]:
# type your code here
num_set = {1, 2, 3, 4, 5, 6}
num_set.clear()
num_set

set()

8.2 Create two sets of words from the given sentences and perform the following operations:

a. Find the count of unique words in each of the sentence \
b. Find the common words in both the sentences

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python'

sentence_2 = 'Python for data science'

**Create set of words**

In [70]:
# type your code here
sentence_1 = 'We shall analyse the data using python'
sentence_2 = 'Python for data science'

In [71]:
set1=set(sentence_1.split())
set1

{'We', 'analyse', 'data', 'python', 'shall', 'the', 'using'}

In [72]:
set2=set(sentence_2.split())
set2

{'Python', 'data', 'for', 'science'}

**a. Find the number of unique words in the sentences**

In [93]:
# type your code here
print("number of unique words in the sentence 1",len(set1))

number of unique words in the sentence 1 7

In [94]:
print("number of unique words in the sentence 2",len(set2))

number of unique words in the sentence 2 4

**b. Find the common words in both the sentences**

In [79]:
# type your code here
set1.intersection(set2)

{'data'}

In [80]:
common_words = set1.intersection(set2)
print('The common words between the two sentences:', common_words)

The common words between the two sentences: {'data'}

<a id="dict"> </a>
## 9. Dictionary

9.1 Write a code to add a key to a dictionary

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

In [86]:
# type your code here
square_dictionary = {1:1, 2:4, 3:9}
square_dictionary.update({4:16})
square_dictionary

{1: 1, 2: 4, 3: 9, 4: 16}

9.2 Write a program to retrieve the keys/values of dictionary

**Use the dictionary**

mix_dictionary = {0:3, 'x':5, 1:2}

In [89]:
# type your code here
mix_dictionary = {0:3, 'x':5, 1:2}

print("Keys in mix_dictionary = {0:3, 'x':5, 1:2}", mix_dictionary.keys())

print("Values in mix_dictionary = {0:3, 'x':5, 1:2}", mix_dictionary.values())

Keys in mix_dictionary = {0:3, 'x':5, 1:2} dict_keys([0, 'x', 1])
Values in mix_dictionary = {0:3, 'x':5, 1:2} dict_values([3, 5, 2])

9.3 Write a program to get the value for 'Age' from the dictionary

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [95]:
# type your code here
emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}
emp_record['Age']

27

In [ ]:
# type your code here

## 10. Conditional Statements

10.1 Write a program to check whether a given number is multiple of 7 (use if statement)

In [101]:
# type your code here
num = 77

if num%7== 0:
    print(num, "is a multiple of 7.")

77 is a multiple of 7.

In [104]:
num = 324

if num%7== 0:
    print(num, "is a multiple of 7.")

10.2 Write a code to print the maximum of two numbers (use if-else)

In [106]:
# type your code here
a=2
b=5
if(a>b):
    print(a,"- a is bigger")
else:
    print(b,"- b is bigger")

5 - b is bigger

10.3 Write a program to check whether a number is positive, negative or zero (use if-elif)

In [107]:
# type your code here

c = 45
if(c>0):
    print("number is positive")
elif(c<0):
    print("number is negative")
elif(c==0):
    print("number is zero")

number is positive

In [108]:
c = -45
if(c>0):
    print("number is positive")
elif(c<0):
    print("number is negative")
elif(c==0):
    print("number is zero")

number is negative

In [109]:
c = 0
if(c>0):
    print("number is positive")
elif(c<0):
    print("number is negative")
elif(c==0):
    print("number is zero")

number is zero

## 11. Python Flow Control

11.1 Write a code to print table of 5 using assignment operand +=

In [111]:
# type your code here
num = 5
tablenum = 0
for i in range(1,11):
    tablenum+=num
    print(tablenum)

5
10
15
20
25
30
35
40
45
50

11.2 Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop

In [114]:
# type your code here
a=1
b=1
c=0
print(a)
print(b)
for i in range(10):
    c = a + b
    a = b
    b = c
    print(c)

1
1
2
3
5
8
13
21
34
55
89
144

## 12. Print Patterns

12.1 How to print full pyramid and asterisk(star) patterns in python

        *   
       *  *   
      *  *  *   
     *  *  *  *   
    *  *  *  *  *

In [123]:
# type your code here
size = 5
m = (2*size) -2
for i in range(0,size):
    print("i:",i)
    print("m:",m)
    for j in range(0,m):
        print("j:",j)
        print(end=" ")
    m = m - 1 
    print("after m - 1:",m)
    for j in range(0,i+1):
        print("* ",end=' ')
    print(" ")

i: 0
m: 8
j: 0
 j: 1
 j: 2
 j: 3
 j: 4
 j: 5
 j: 6
 j: 7
 after m - 1: 7
*
i: 1
m: 7
j: 0
 j: 1
 j: 2
 j: 3
 j: 4
 j: 5
 j: 6
 after m - 1: 6
*  *
i: 2
m: 6
j: 0
 j: 1
 j: 2
 j: 3
 j: 4
 j: 5
 after m - 1: 5
*  *  *
i: 3
m: 5
j: 0
 j: 1
 j: 2
 j: 3
 j: 4
 after m - 1: 4
*  *  *  *
i: 4
m: 4
j: 0
 j: 1
 j: 2
 j: 3
 after m - 1: 3
*  *  *  *  *

In [ ]:
print("Print full triangle using stars")
size = 5
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1 # decrementing m after each loop
    for j in range(0, i + 1):
        # printing full Triangle pyramid using stars
        print("* ", end=' ')
    print(" ")

12.2 Form a lower tringular matrix in ' * ' pattern

*
* *  \\
* * *  \\
* * * *  \\
* * * * *  \\

In [118]:
# type your code here
for i in range(0, 5):
    for j in range(0, i+1):
        print("* ",end="")
    print()

*
* *
* * *
* * * *
* * * * *