# Week-2 Foundations of Python Programming - MLS

## Table of Content
1. Print
2. Data Types
3. Boolean Operations
4. Concatenation
5. Arithmetic Operations
6. List
7. Tuple
8. Set
9. Dictionary
10. Conditional Statements
11. Python Control Flow
12. Print Patterns

## Print
1.1 Write a program to display a statement. For example, "Hello, How are you?"

In [ ]:
# type your code here

False

1.2 Write the alphabets 'A', 'B', 'C' on new lines using a single print function.

In [ ]:
# type your code here

<a id="types"> </a>
## 2. Data types
Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point

2.1 Declare a string variable and check its data type

In [ ]:
# type your code here

2.2 Declare a numeric variable and check its data type \
i. An interger variable.

In [ ]:
# type your code here

ii. A fractional variable

In [ ]:
# type your code here

<a id="boolean"></a>
## 3. Boolean Operations

Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9

In [ ]:
# type your code here

<a id="concatenation"></a>
## 4. Concatenation

4.1 Create two strings and concatenate them using '+' operator.

In [ ]:
# type your code here

## 5. Arithmetic Operations

5.1 Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3

In [ ]:
# type your code here

5.2 Evaluate and print the results of the following \
1353 plus 234 \
2355 minus 346 \
234 times 457 \
25 divided by 6 \
Obtain remainder of 25 divided by 6 \
33 raised to 4 \
45 divided by 6 (floor division) \
2 raised to 10

In [ ]:
# type your code here

5.3  Calculate BMI of a person (take input for height and weight from user).

In [ ]:
# type your code here

<a id="list"> </a>
## 6. List

6.1 Write a program to perform following list operations on the list given below:

a. Check the length of mix_list_1 \
b. Check the membership of '24' in mix_list_1 \
c. Concatenate the mix_list_1 and mix_list_2 \
d. Repeat the mix_list_2 three times

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [ ]:
# type your code here

**b. Check the membership of '24' in mix_list_1**

In [ ]:
# type your code here

**c. Concatenate the mix_list_1 and mix_list_2**

In [ ]:
# type your code here

**d. Repeat the mix_list_2 three times**

In [ ]:
# type your code here

6.2 Write the program to multiply the two lists

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [ ]:
# type your code here

6.3 Write a code to retrieve elements from a list

a. First element \
b. Second last element \
c. First three elements \
d. Slice the list from 1st index till the last index with an increment of an index by 2

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [ ]:
# type your code here

**b. Second last element**

In [ ]:
# type your code here

**c. First three elements**

In [ ]:
# type your code here

6.4 Manipulating a list:

a. Add a new element 'Data' in the given list \
b. Add elements 'Excel' and 'Data' in the given list \
c. Replace an element 'C' with 'C++' in the given list

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [ ]:
# type your code here

**b. Add elements 'Excel' and 'Data' in the given list**

In [ ]:
# type your code here

**c. Replace an element 'C' with 'C++' in the given list**

In [ ]:
# type your code here

6.5 How many times 'Summer' is occuring in a given list?

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [ ]:
# type your code here

## 7. Tuple
7.1 Write a code to perform operations on tuple:

a. Check the length of num_tuple \
b. Concatenate the num_tuple and mix_tuple \
c. Repeat the mix_tuple two times

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [ ]:
# type your code here

**b. Concatenate the num_tuple and mix_tuple**

In [ ]:
# type your code here

**c. Repeat the mix_tuple two times**

In [ ]:
# type your code here

7.2 Add a new element '4' to the given tuple

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [ ]:
# type your code here

7.3 Replace the elements in the given tuple:

a. Replace '2' with '3' \
b. Replace 'True' in first element with 'False'

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [ ]:
# type your code here

**b. Replace 'True' in first element of the tuple with 'False'**

In [ ]:
# type your code here

## 8. Set
8.1 Write the program to perform following manipulations:

a. Add '7' to the given set \
b. Remove '3' from a given set \
c. Clear the set

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [ ]:
# type your code here

**b. Remove '3' from a given set**

In [ ]:
# type your code here

**c. Clear the set**

In [ ]:
# type your code here

8.2 Create two sets of words from the given sentences and perform the following operations:

a. Find the count of unique words in each of the sentence \
b. Find the common words in both the sentences

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python'

sentence_2 = 'Python for data science'

**Create set of words**

In [ ]:
# type your code here

**a. Find the number of unique words in the sentences**

In [ ]:
# type your code here

**b. Find the common words in both the sentences**

In [ ]:
# type your code here

<a id="dict"> </a>
## 9. Dictionary

9.1 Write a code to add a key to a dictionary

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

In [ ]:
# type your code here

9.2 Write a program to retrieve the keys/values of dictionary

**Use the dictionary**

mix_dictionary = {0:3, 'x':5, 1:2}

In [ ]:
# type your code here

9.3 Write a program to get the value for 'Age' from the dictionary

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [ ]:
# type your code here

In [ ]:
# type your code here

## 10. Conditional Statements

10.1 Write a program to check whether a given number is multiple of 7 (use if statement)

In [ ]:
# type your code here

10.2 Write a code to print the maximum of two numbers (use if-else)

In [ ]:
# type your code here

10.3 Write a program to check whether a number is positive, negative or zero (use if-elif)

In [ ]:
# type your code here

## 11. Python Flow Control

11.1 Write a code to print table of 5 using assignment operand +=

In [ ]:
# type your code here

11.2 Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop

In [ ]:
# type your code here

## 12. Print Patterns

12.1 How to print full pyramid and asterisk(star) patterns in python

        *   
       *  *   
      *  *  *   
     *  *  *  *   
    *  *  *  *  *

In [ ]:
# type your code here

12.2 Form a lower tringular matrix in ' * ' pattern

*
* *  \\
* * *  \\
* * * *  \\
* * * * *  \\

In [ ]:
# type your code here