<a id ="print"> </a>
## 1. Using print()

1.1 Write a program to display a statement. For example, "Hello, How are you?"

In [ ]:
print("Hello, How are you?")

Hello, How are you?

1.2 Write the alphabets 'A', 'B', 'C' on new lines using a single print function.

In [ ]:
# use '\n' to add a new blank line  
print(" A\n B\n C")

 A
 B
 C

<a id="types"> </a>
## 2. Data types

Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point

**Declare a string variable and check its data type.**

In [ ]:
# create a string variable
string_var = 'Hello, how are you?'

# check it's type
type(string_var)

str

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [ ]:
# create a numeric variable
int_var = 50

# check the variable type
type(int_var)

int

ii. A fractional variable

In [ ]:
# a fractional numeric variable
frac_var = 23.837

# check the variable type
type(frac_var)

float

A fractional number is called a floating point number in python.

**Note:** Float values are the numeric values specified with a decimal point.

<a id="boolean"></a>
## 3. Boolean Operations

Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9

In [ ]:
(54+34)* 45 ==  (0.9*2432)/0.9

False

<a id="concatenation"></a>
## 4. Concatenation

4.1 Create two strings and concatenate them using '+' operator.

In [ ]:
sentence_1 = 'We shall learn Python.'

In [ ]:
sentence_2 = 'Specifically, python for data science.'

In [ ]:
sentence_1 + sentence_2

'We shall learn Python.Specifically, python for data science.'

<a id="arithmetic"></a>
## 5. Arithmetic Operations

5.1 Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3

In [ ]:
145*354 - 1345/45 + (462+23)/3

51461.777777777774

**Note:** The Heirarchy of the arithmetic operators is as follows:<br>
1) Parentheses <br>
2) Exponential<br>
3) Multiplication (from left to right) <br> 
4) Division (from left to right) <br>
5) Addition<br>
6) Subtraction<br>

It is generally abbreviated as PEMDAS.

5.2 Evaluate and print the results of the following \
1353 plus 234 \
2355 minus 346 \
234 times 457 \
25 divided by 6 \
Obtain remainder of 25 divided by 6 \
33 raised to 4 \
45 divided by 6 (floor division) \
2 raised to 10

In [ ]:
# 1353 plus 234
1353 + 234

1587

In [ ]:
# 2355 minus 346
2355 - 346

2009

In [ ]:
# 234 times 457
234 * 457

106938

In [ ]:
# 25 divided by 6
25 / 6

4.166666666666667

In [ ]:
# Obtain remainder of 25 divided by 6
25 % 6

1

In [ ]:
# 33 raised to 4
33**4

1185921

In [ ]:
# 45 divided by 6 (floor division)
45 // 6

7

In [ ]:
# 2 raised to 10
2**10

1024

5.3 Calculate BMI of a person (take input for height and weight from user)

In [ ]:
# consider the runtime variables 'height' and 'weight'
height = input('Height (in m):')
weight = input('Weight (in kg):')

# change the type of runtime variables to 'float' to calculate the BMI
height = float(height)
weight = float(weight)

# compute BMI 
BMI = weight/(height**2)

# print the value of BMI
BMI

Height (in m):1.62
Weight (in kg):65

24.76756591982929

## 6.List

6.1 Write a program to perform following list operations on the list given below:

a. Check the length of mix_list_1 \
b. Check the membership of '24' in mix_list_1 \
c. Concatenate the mix_list_1 and mix_list_2 \
d. Repeat the mix_list_2 three times

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [ ]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

# len() returns number of elements in the list
print(len(mix_list_1))

5

**b. Check the membership of '24' in mix_list_1**

In [ ]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]

# check if the element '24' is present in the list or not
print(24 in mix_list_1)

True

**c. Concatenate the mix_list_1 and mix_list_2**

In [ ]:
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']

# concate the above two lists
concatenation = mix_list_1 + mix_list_2
print(concatenation)

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [ ]:
mix_list_2 = [4, 7, 'Summer']

# repeat the elements in the list
repeat = mix_list_2*3
print(repeat)

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

6.2 Write the program to multiply the two lists

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [ ]:
num_list_1 = [1, 2, 3, 4]
num_list_2 = [0, 5, 2, 1]

# multiply the above lists
multiplication = num_list_1 * num_list_2
multiplication

TypeError: can't multiply sequence by non-int of type 'list'

**One can not perform element-wise multiplication of lists using the above method.**

6.3 Write a code to retrieve elements from a list

a. First element \
b. Second last element \
c. First three elements \
d. Slice the list from 1st index till the last index with an increment of an index by 2

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [ ]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

# list indices starts from 0
print('First element:', mix_list[0])

First element: Python

**b. Second last element**

In [ ]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

# negative indices retrieve elements from last element 
# mix_list[-1] will give the last element
print('Second last element:', mix_list[-2])

Second last element: Data

**c. First three elements**

In [ ]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

# [0:3] returns the first three elements in the list
print('First three elements:', mix_list[0:3])

First three elements: ['Python', 1, 2]

6.4 Manipulating a list:

a. Add a new element 'Data' in the given list \
b. Add elements 'Excel' and 'Data' in the given list \
c. Replace an element 'C' with 'C++' in the given list

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [ ]:
languages_list = ['R','Python', 'C', 'Java']

# using .append() to add single element
languages_list.append('Data')
print('new_list:', languages_list)

new_list: ['R', 'Python', 'C', 'Java', 'Data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [ ]:
languages_list = ['R','Python', 'C', 'Java']

# using .extend() to add two elements
languages_list.extend(['Excel', 'Data'])
print('new_list:', languages_list)

new_list: ['R', 'Python', 'C', 'Java', 'Excel', 'Data']

**NOTE: The function append() adds its argument as a single list of elements; thus increasing the length of the list by one.<br>
 extend() iterates over its argument adding each element to the list; thus the length of the list increases by the number of elements in the iterable argument.**
 
See the example below:

In [ ]:
# Example

given_list = [1,2,3]
print('given_list',given_list)
# add elements 4 and 5

# append() adds the elements 4 and 5 as one element to the list
given_list.append([4,5])

print('updated list:', given_list)

given_list [1, 2, 3]
updated list: [1, 2, 3, [4, 5]]

In [ ]:
given_list = [1,2,3]
print('given_list',given_list)

# add elements 4 and 5
# extend() adds the elements 4 and 5 as two elements to the list
given_list.extend([4,5])

print('updated list:', given_list)

given_list [1, 2, 3]
updated list: [1, 2, 3, 4, 5]

**c. Replace an element 'C' with 'C++' in the given list**

In [ ]:
languages_list = ['R','Python', 'C', 'Java']

# replace 'C' with 'C++'
languages_list[2] = 'C++'
print('new_list:', languages_list)

new_list: ['R', 'Python', 'C++', 'Java']

6.5 How many times 'Summer' is occuring in a given list?

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [ ]:
# given list
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

# count the number of times 'Summer' occurs in a given list
seasons_list.count('Summer')

4

## 7. Tuple
7.1 Write a code to perform operations on tuple:

a. Check the length of num_tuple \
b. Concatenate the num_tuple and mix_tuple \
c. Repeat the mix_tuple two times

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [ ]:
num_tuple = (4, 4, 8)

# number of elements in the list
print(len(num_tuple))

3

**b. Concatenate the num_tuple and mix_tuple**

In [ ]:
num_tuple = (4, 4, 8)
mix_tuple = 'John', 5, -2

# concate the above two tuples
concatenation = num_tuple + mix_tuple
print(concatenation)

(4, 4, 8, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [ ]:
mix_tuple = 'John', 5, -2

# repeat the tuple twice
repetition = mix_tuple * 2
repetition

('John', 5, -2, 'John', 5, -2)

7.2 Replace the elements in the given tuple:

a. Replace '2' with '3'
b. Replace 'True' in first element with 'False'

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [ ]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

# replace '2' with '3'
mix_tuple[1] = 3

print(mix_tuple)

TypeError: 'tuple' object does not support item assignment

**Since, tuples are immutable, one can not modify the elements. But it can contain mutable elements like lists.**<br><br>

**b. Replace 'True' in first element of the tuple with 'False'**

In [ ]:
mix_tuple = (['a', 1, True], 2, 'Science', -5)

# 'True' is at 2nd index position in the list, which is at 0th position in the tuple
mix_tuple[0][2] = False

print('updated tuple:', mix_tuple)

updated tuple: (['a', 1, False], 2, 'Science', -5)

## 8.Set
8.1 Write the program to perform following manipulations:

a. Add '7' to the given set
b. Remove '3' from a given set
c. Clear the set

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [ ]:
num_set = {1, 2, 3, 4, 5, 6}

# add() adds a new element to the set
num_set.add(7)
print('updated set:', num_set)

updated set: {1, 2, 3, 4, 5, 6, 7}

**b. Remove '3' from a given set**

In [ ]:
num_set = {1, 2, 3, 4, 5, 6}

# remove() returns the set after removal of the element
num_set.remove(3)
print('updated set:', num_set)

updated set: {1, 2, 4, 5, 6}

**c. Clear the set**

In [ ]:
num_set = {1, 2, 3, 4, 5, 6}

# clear() returns an empty set
num_set.clear()
print(num_set)

set()

8.2 Create two sets of words from the given sentences and perform the following operations:

a. Find the count of unique words in each of the sentence \
b. Find the common words in both the sentences

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python' 

sentence_2 = 'Python for data science'

**Create set of words**

In [ ]:
sentence_1 = 'We shall analyse the data using python'
sentence_2 = 'Specifically, python for data science'

# create a set of words
sen_1_words = set(sentence_1.split())
sen_2_words = set(sentence_2.split())

**a. Find the number of unique words in the sentences**

In [ ]:
# number of unique words in sentence_1
no_of_unique_words_in_sentence1 = len(sen_1_words)
print('Number of unique words in 1st sentence:', no_of_unique_words_in_sentence1)

# number of unique words in sentence_2
no_of_unique_words_in_sentence2 = len(sen_2_words)
print('Number of unique words in 2nd sentence:', no_of_unique_words_in_sentence2)

Number of unique words in 1st sentence: 7
Number of unique words in 2nd sentence: 5

**b. Find the common words in both the sentences**

In [ ]:
# intersection() returns common elements in the sets
common_words = sen_1_words.intersection(sen_2_words)
print('The common words between the two sentences:', common_words)

The common words between the two sentences: {'data', 'python'}

<a id="dict"> </a>
## 9. Dictionary

9.1 Write a code to add a key to a dictionary

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

In [ ]:
square_dictionary = {1:1, 2:4, 3:9}

# add a key using 'update()'
square_dictionary.update({4:16})
print('updated dictionary:', square_dictionary)

updated dictionary: {1: 1, 2: 4, 3: 9, 4: 16}

9.2 Write a program to retrieve the keys/values of dictionary

**Use the dictionary**

mix_dictionary = {0:3, 'x':5, 1:2}

In [ ]:
mix_dictionary = {0:3, 'x':5, 1:2}

# keys() returns the keys in the dictionary
print('Keys:', mix_dictionary.keys())

# values() returns the corresponding values of the keys
print('Values:', mix_dictionary.values())

Keys: dict_keys([0, 'x', 1])
Values: dict_values([3, 5, 2])

9.3 Write a program to get the value for 'Age' from the dictionary

**Use the dictionary**

emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

In [ ]:
emp_record = {'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

# print the age 
print(emp_record['Age'])

27

<a id="cond"> </a>
## 10. Conditional Statements

10.1 Write a program to check whether a given number is multiple of 7 (use if statement)

In [ ]:
# consider a number
number = 28

# pass condition to 'if' statement
if number%7== 0:
    print(number, "is a multiple of 7.")

28 is a multiple of 7.

The print statement is executed only if the 'if' condition is true. Else, the print statement is not executed and there will be no output.

10.2 Write a code to print the maximum of two numbers (use if-else)

In [ ]:
# consider the numbers
x = 55
y = 7

# pass condition to 'if' statement
if (x < y):
    print('y =' +' '+ str(y)  +' '+ 'is the maximum number')
else:
    print('x =' +' '+ str(x)  +' '+ 'is the maximum number')

x = 55 is the maximum number

10.3 Write a program to check whether a number is positive, negative or zero (use if-elif)

In [ ]:
# consider a number
number = 45

# pass condition to 'if' statement
if number == 0:
    print("Number is zero")
    
# pass condition to 'elif' statement
elif number > 0:
    print("Number is positive")                  
else:
    print("Number is negative")

Number is positive

<a id= "flow_control"> </a>
## 11. Python Flow Control

11.1 Write a code to print table of 5 using assignment operand +=

In [ ]:
# to write table of 5 until 10 using assignment operand +=
total = 0
for i in [1,2,3,4,5,6,7,8,9,10]:
    total += 5
    print('5 times %d is %d' %(i, total))

5 times 1 is 5
5 times 2 is 10
5 times 3 is 15
5 times 4 is 20
5 times 5 is 25
5 times 6 is 30
5 times 7 is 35
5 times 8 is 40
5 times 9 is 45
5 times 10 is 50

8.2 Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop

In [ ]:
a = 0
b = 1
fibo = [a, b]
i=1
while i < 11: 
    c = a + b
    a = b
    b = c
    i +=1
    fibo.append(b) 
    
print ("The fibonnaci series is:" , fibo)

The fibonnaci series is: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## 12. Print Patterns

12.1 How to print full pyramid and asterisk(star) patterns in python

In [6]:
print("Print full triangle using stars")
size = 5
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1 # decrementing m after each loop
    for j in range(0, i + 1):
        # printing full Triangle pyramid using stars
        print("* ", end=' ')
    print(" ")

Print full triangle using stars
        *
       *  *
      *  *  *
     *  *  *  *
    *  *  *  *  *

12.2 Form a lower tringular matrix in ' * ' pattern

In [7]:
for i in range(0, 5):
    for j in range(0, i+1):
        print("* ",end="")
    print()

*
* *
* * *
* * * *
* * * * *