# Week-2 Foundations of Python Programming - LVC

### Table of Content

1. Python Variables
2. Data Types
3. Type Conversion
4. Operators
5. Data Structures - List, Tuples, Sets, Dictionaries
6. Condition Statements - if, else, elif
7. Control Flow Statements - for, while

<a id="variables"> </a>
# Python Variables

Variables are nothing but reserved memory locations to store values. This implies that when you create a variable, you hold some space in the memory.

Based on the data type of a variable, the interpreter allocates memory and decides what can be stored in the reserved memory. Therefore, by assigning different data types to variables, you can store integers, decimals or characters in these variables.

#### Declaring and assigning a value to a variable
We use the assignment operator  '='  to assign a value to a variable.

In [1]:
num = 30

In [2]:
num = 30

The operand to the left of the = operator is the name of the variable and the operand to the right of the = operator is the value stored in the variable. Here, we have created a variabe named 'num' and we have assigned value 30 to 'num' variable.

#### Multiple assignments
Python allows you to assign a single value to several variables simultaneously. For example −

In [3]:
# Here, an integer object is created with the value 5, and all three variables are assigned to the same memory location
x = y = z = 5

In [4]:
x = y = z = 5

You can also assign multiple objects to multiple variables

In [5]:
a,b,c = 5,10.1,"Great Lakes"

In [6]:
a,b,c = 5,10.1,"Great Lakes"

#### Re-assigning a variable

In [7]:
var1 = 25
var2 = "Arthur"
var2 = var1
var2

25

In [8]:
var1 = 25
var2 = "Arthur"
var2 = var1
var2

25

### Rules and Naming Conventions
1. Constant and variable names should have a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore(_). For example:

  variable_name \
  VARIABLE_NAME \
  varName \
  VariableName

2. Create a name that makes sense. For example, variable makes more sense than v

3. If you want to create a variable name having two words, use underscore to separate them

4. Never use special symbols like !, @, #, $, %, etc.

5. Do not start a variable name with a digit

6. Reserved words (built-in keywords) cannot be used as variable names

# Data Types

A data type is an attribute of data which tells the compiler or interpreter how the programmer intends to use the data. Python supports the following Python data types:

1. Numbers
2. Strings
3. Boolean
4. Lists
5. Tuples
6. Dictionaries
7. Sets

<a id="num"> </a>
### Python Numbers
There are four numeric Python data type:<br>
a. int (signed integers)<br>
b. float (floating point real values)<br>
c. long (long integers, they can also be represented in octal and hexadecimal)<br>
d. complex (complex numbers)

<table>
  <tr>
  <th>int</th>
  <th>float</th>
  <th>long</th>
  <th>complex</th>
  </tr>
  <tr>
  <td>10</td>
  <td>54.4</td>
  <td>012345L</td>
  <td>2+5j</td>  
  </tr>
  <tr>
  <td>70</td>
  <td>0.01</td>
  <td>-987652L</td>
  <td>1.18j</td>
  </tr>
  <tr>
  <td>-150</td>
  <td>1.626e16</td>
  <td>10000000000000000</td>
  <td>-10j</td>
  </tr>
  <tr>
  <td>0x69</td>
  <td>74.15</td>
  <td>-4335685298777L</td>
  <td>45j</td>
  </tr>
  <tr>
  <td>-0x260</td>
  <td>89.33</td>
  <td>0348L	</td>
  <td>3e+26J</td>
  </tr>
</table>

#### int
'int' stands for integer. This Python Data Type holds signed integers. We can use the type() function to find which class it belongs to.

In [9]:
a = -5
type(a)

int

In [10]:
x = 1000
type(a)

int

In [11]:
a = -5
type(a)

int

In [12]:
x = 1000
type(x)

int

In [13]:
x.dtype

AttributeError: 'int' object has no attribute 'dtype'

#### float

In [14]:
a = 1.1
type(a)

float

In [15]:
a = 1.1
type(a)

float

In [16]:
x = -3.14
type(x)

float

In [17]:
y = 1.626e16
type(y)

float

In [18]:
x = -3.14
type(x)

float

In [19]:
y = 1.626e16
type(y)

float

#### long

In [20]:
x = 999999999999999999999999999999999999999999999
type(x)

int

In [21]:
x =999999999999999999999999999999999999999999999
type(x)

int

#### complex

In [22]:
x = 3+4j

In [23]:
x = 3+4j
type(x)

complex

In [24]:
y = 3e+4j
type(y)

complex

<a id="str"> </a>
### Python Strings

A string is a sequence of characters. Python does not have a <em>char</em> data type, unlike C++ or Java. You can delimit a string using single quotes('string') or double-quotes("string").

In [25]:
string = "Introduction to Python"
string

'Introduction to Python'

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [26]:
str1 = "Mayank "
str2 = "Learning "
str3 = str1+str2
str3                      # Prints concatenated string

'Mayank Learning '

In [27]:
str3*3                    # Prints string three times

'Mayank Learning Mayank Learning Mayank Learning '

<a id="bool"> </a>
### Python Boolean
In Python programming language, the Boolean datatype is a primitive datatype having one of two values: **True** or **False**. It is often a result of some conditions

In [28]:
var = True
type(var)

bool

In [29]:
print(10 > 9)

True

In [30]:
print(10 == 9)

False

In [31]:
print(10 < 9)

False

<a id="typecon"> </a>
# Type Conversion
Since Python is dynamically-typed, you may want to convert a value into another type. Python supports different type conversion functions like int(), float(), str() etc.

#### float()
It converts the passed value into a float.

In [32]:
float(11)

11.0

You can turn a Boolean into an float.

In [33]:
float (True)

1.0

In [34]:
float(False)

0.0

#### int

Conversion from float to int will round-off the value (make it closer to zero).

In [35]:
int(11.7)

11

 You can also turn a Boolean into an int.

In [36]:
int(True)

1

In [37]:
int(False)

0

You cannot turn a string into an int. It throws an error. However, if the string has only numbers, then you can.

In [38]:
int("ML")

ValueError: invalid literal for int() with base 10: 'ML'

In [39]:
int("11")

11

#### str()
<em>str()</em> converts the value into a string.

In [40]:
str(2.24)

'2.24'

In [41]:
str(True)

'True'

# Operators

### 1. Python Operators
Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

Python Operator falls into following categories:
1. Arithmetic Operator
2. Comparison Operator
3. Assignment Operator
4. Logical Operator

<a id="arith"> </a>
### Arithmetic Operator
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [42]:
a = 12
b = 2
# '+' Operator
print('a + b =',a+b)                  # Prints addition of a and b

# '-' Operator
print('a - b =',a-b)                  # Prints subtraction of  a and b

# '*' Operator
print('a * b =',a*b)                  # Prints multiplication of  a and b

# '%' Operator
print('a % b =',a%b)                  # Prints remainder of division between a and b

# '/' Operator
print('a / b =',a/b)                  # Prints division of  a and b

# '//' Operator
print('a // b =',a//b)                # Prints the interger value of the division between a and b

# '**' Operator
print('a ** b =',a**b)                # Prints the result of a to the power b

a + b = 14
a - b = 10
a * b = 24
a % b = 0
a / b = 6.0
a // b = 6
a ** b = 144

<a id="comp"> </a>
### Comparison Operator
Comparison Operator carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those. It either returns <em>True</em> or <em>False</em> according to the condition.

In [43]:
a = 10
b = 20

# '>' Operator
print('a > b  is',a>b)                 # Prints False since a is smaller than b

# '<' Operator
print('a < b  is',a<b)                 # Prints True since a is smaller than b

# '==' Operator
print('a == b  is',a==b)                 # Prints False since a and b are not equal

# '!=' Operator
print('a != b  is',a!=b)                 # Prints True since a is not equal to b

# '>=' Operator
print('a >= b  is',a>=b)                 # Prints False since a is not smaller nor equal to b

# '<= y' Operator
print('a <= b  is',a<=b)                 # Prints True since a is smaller than b

a > b  is False
a < b  is True
a == b  is False
a != b  is True
a >= b  is False
a <= b  is True

<a id="assign"> </a>
### Assignment Operator
An assignment operator assigns a value to a variable. It may manipulate the value by a factor before assigning it.

In [44]:
# '=' Operator
x = 5                                 # Assigns the value to the variable on the left
print("x = ", x)

# '+=' Operator
x += 5
print("Updated value of x after (x += 5) is", x)     # Adds the values on either side and assigns it to the expression on the left. x+=5 is the same as x=x+5.

# '-=' Operator
x -=2
print("Updated value of x after (x -=2) is", x)     # Subtracts 2 from the latest value of x and assigns it to x(which is 10).

# '*=' Operator
x *= 2
print("Updated value of x after (x *= 2) is", x)     # Multiplies the current value of x with 2 and assigns the result to the same variable

# '/=' Operator
x /= 4
print('Updated value of x after (x /= 2) is', x)     # Divides the current value of x with 4 and assigns the result to the same variable

x =  5
Updated value of x after (x += 5) is 10
Updated value of x after (x -=2) is 8
Updated value of x after (x *= 2) is 16
Updated value of x after (x /= 2) is 4.0

<em>i+=1 is the same as i=i+1, whereas i=+1 just means i=(+1)</em>

<a id="logic"> </a>
### Logical Operators
Logical operators are like conjunctions that you can use to combine more than one condition. We have three Python logical operator – **<em>and</em>**, **<em>or</em>**, and **<em>not</em>** that come under python operators.

#### 'and' Operator
If the conditions on both the sides of the operator are true, then the expression as a whole is true.

In [45]:
x = 11
a = x>10 and x<20
print(a)

True

Here both the conditions are satisfied. Therefore we have True as the output.

In [46]:
x = 11
a = x>10 and x==12
print(a)

False

Here one of the condition is not satisfied. Therefore we have False as the output.

#### 'or' Operator
The expression is false only if both the statements around the operator are false. Otherwise, it is true.

In [47]:
x = 11
a = x>10 or x==20
print(a)

True

Here one of the condition is satisfied. Therefore we have True as the output.

In [48]:
x = 11
a = x>12 or x==20
print(a)

False

None of the above condition is True. Therefore we have False as the output

#### 'not' Operator
It converts True to False, and False to True. So, basically, <em>not</em> inverts the Boolean value of an expression

In [49]:
x = 11
a = x>12 or x==20
print(not a)

True

Since both the conditions are false in the above code, False is stored in <em>a</em> and finally the not operator inverts False to True

# Data Structures
## Lists
A python list is a collection of items that are ordered. It implements the sequence protocol, and also allows you to add and remove elements from the sequence. We can use the index in square brackets, [ ], to identify a value belonging to the list by position.

### Constructing Lists

To create a list, use square brackets [] and separate items in the list with commas.
A list can be empty or contain any number of items with different data types (integers, float, strings, etc.)

In [50]:
# create an empty list
empty_list = []
empty_list

[]

Use the built-in list type object to create lists

In [51]:
# empty list
empty_list = list()
empty_list

[]

Note that python creates a single new list every time you use the [ ] expression

In [52]:
list_1 = list_2 = [] # both names will point to the same list

list_1 = []
list_1 = list_2 # both names will point to the same list

list_1 = []; list_2 = [] # independent lists

**Note : A list can also hold another list as an element, these are called nested lists**

In [53]:
# nested list
my_list = [['Data Science','Machine Learning'],[135,232,321]]
my_list

[['Data Science', 'Machine Learning'], [135, 232, 321]]

### Accessing Elements in a List
You can access the list items by referring to the index number

**Indexing:**<br>
Use the index operator [ ]. Each element in a list has an assigned index value. Note that the indexing in python starts from 0 and every index must be an integer

Print the second item of the list

In [54]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index 1
print(course[1])

machine learning

**Negative Indexing**:<br>
Negative indexing means position count starts from the end of the list, -1 refers to the last item, -2 refers to the second last item

Print the second last item of the list

In [55]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index -2
print(course[-2])

html

**Length of List:**<br>
Use len() function to find total number of elements in a list

In [56]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print the length of the list
len(course)

5

### Slicing of a List
List uses the slicing operator : (colon) to extract part of the sequence

Return first three elements from the list

In [57]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print first three element from the list
course[:3]

['data science', 'machine learning', 'python']

Return last three elements from the list

In [58]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print last three element from the list
course[2:]

['python', 'html', 'big data']

Select elements from beginning to end

In [59]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print the all elements
course[:]

['data science', 'machine learning', 'python', 'html', 'big data']

Select first four elements

In [60]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print first four elements
course[0:4]

['data science', 'machine learning', 'python', 'html']

If all three 'start', 'stop', and 'step' are provided, it generates portion of sequence beginning from 'start' till 'stop' with increment of 'step'

In [61]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2])

[3, 5, 7]

In [62]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[7:0:-2])

[8, 6, 4, 2]

### Change Item Value
Refer to the index number to change the value of a specific item

In [63]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# change the third item
course[3] = 'statistics'

course

['data science', 'machine learning', 'python', 'statistics', 'big data']

### List Methods
Python has in-built methods that you can use on lists and arrays

Python has built-in methods that you can use on list:<br>
append()<br>
insert()<br>
extend()<br>
sort()<br>
del <br>
clear()<br>
remove()<br>
pop()<br>
reverse()<br>

**list.append(item)**<br>
The method list.append(item) will add the element at the end of a list

In [64]:
# define a list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course2 = ['statistics']

# add element to the list
course1.append(course2)
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistics']]

**list.insert(i, item)**<br>
This method will insert an element at the $i^{th}$ index in a list
$2^{nd}$

In [65]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# insert element at 2nd index in a list
course.insert(2, 'statistics')
course

['data science',
 'machine learning',
 'statistics',
 'python',
 'html',
 'big data']

**list.extend(items)**<br>
The extend method concatenates lists

In [66]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data']

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course1.extend(course2)

course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**list.sort(key, reverse)**<br>
The sort method sorts a list in-place without creating a new object

In [67]:
# declare a numeric list
income = [2500, 25000, 10000, 50000, 20000, 5000, 17500]
# sort() function is used to sort the numeric values in the list in ascending order
income.sort()
income

[2500, 5000, 10000, 17500, 20000, 25000, 50000]

**Deleting List Elements**<br>
Use the del keyword to delete an item at specific index

In [68]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete the third element from the list
del course[2]

# print the output
course

['data science', 'machine learning', 'html', 'big data']

**list.clear()**
<br>The clear method resets the list to an empty state

In [69]:
sentence = ['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'frog']
sentence.clear()
sentence

[]

**list.remove(item)**<br>
It will search and remove only the first occurrence of an item

In [70]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.remove('html')

course

['data science', 'machine learning', 'python', 'big data', 'html']

**list.pop()**<br>
Removes and returns the last item of a list

In [71]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.pop()

course

['data science', 'machine learning', 'python', 'html', 'big data']

**list.reverse()**<br>
It reverses the order of the items in a list

In [72]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.reverse()

course

['html', 'big data', 'html', 'python', 'machine learning', 'data science']

## Tuple
A tuple is a collection of elements which are ordered. A tuple once defined cannot be modified.

Tuples with elements is created by elements separated by comma surrounding round brackets. Its actually Trailing commas that define a tuple not parentheses. Round brackets are required incase of ambiguity.
m
To iterate over the items of a tuple is faster compared to iterating over a list

### Creating Tuple
Here, we are creating few tuples

In [73]:
# tuple of strings
my_tuple = ("hello", "python", "hello", "world")
print(my_tuple)

('hello', 'python', 'hello', 'world')

In [74]:
# tuple of int, float, string
my_tuple = (123, 2.228, "hello python")
print(my_tuple)

(123, 2.228, 'hello python')

In [75]:
# tuple of string and list
my_tuple = ("python", [12, 12, 31])
print(my_tuple)

('python', [12, 12, 31])

In [76]:
# tuples inside another tuple
# nested tuple
my_tuple = ((2546, 332, 421), ("python", 63.1, "hi"))
print(my_tuple)

((2546, 332, 421), ('python', 63.1, 'hi'))

### Access Tuple Elements
Use indices to access the items of a tuple

In [77]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# access the second element from the list
my_tuple[1]

'yellow'

**Negative Indexing**<br>
In Negative indexing position counting starts from the end, -1 refers to the last element, -2 refers to the second last element of the tuple

In [78]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# print last item of the tuple
my_tuple[-1]

'blue'

**Range of Indices**<br>
Specify a range of indices by specifying the start and the end of the range.
When specifying a range, the output will be a new tuple with the specified items

In [79]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# return fourth and fifth element from the list
my_tuple[3:5]

('blue', 353)

**Range of Negative Indices**<br>
Specify negative indices to start the search from the end of the tuple

In [80]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# return the items from index -3 (included) to index -1 (excluded)
my_tuple[-3:-1]

(353, 363.2)

### Change Tuple Values
We cannot change the items of a tuple because items of tuple are immutable. However we can change the elements of nested items in a tuple that are mutable

In [81]:
my_tuple = (123, ['s', 'a', 'v'], "World")
print(my_tuple)

# changing the element of the list
# this is valid because list is mutable
my_tuple[1][2] = 99
print(my_tuple)

(123, ['s', 'a', 'v'], 'World')
(123, ['s', 'a', 99], 'World')

In [82]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# changing the element of tuple
# This throws an error since tuple elements are immutable
my_tuple[0] = 'orange'

TypeError: 'tuple' object does not support item assignment

### Delete Operation on Tuple
We already discussed above that we cannot delete the elements of a tuple. However deleting entire tuple is possible

In [83]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

### Tuple Methods

Python has built-in methods which can be used on tuples:<br>
count()<br>
index()<br>

**count()**<br>
It returns the number of times a specified element occurs in a tuple

In [84]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.count('e')

4

**index()**<br>
It searches the tuple for the first occurance of a specified element and returns the index value for that particular position

In [85]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.index('l')

3

## Dictionary
Python dictionary is an unordered collection of elements. It map keys to values and these key-value pairs provide a useful way to store data in python.

**Syntax:**<br>
dictionary_name = {&nbsp;key_1: value_1,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   key_2: value_2,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    key_3: value_3,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    }

### Create Dictionary
Separate keys from values with a colon(:), and a pair from another by a comma(,). Put it all in curly braces

In [86]:
# create dictionary
balance = {
    "Mia" : 83847,
    "John" : 83837,
    "Jill" : 94766
}
print(balance)

{'Mia': 83847, 'John': 83837, 'Jill': 94766}

### Accessing Items
Use the key name inside the square brackets to access the elements from a dictionary

In [87]:
# Get the value for key "Mia"
x = balance["Mia"]
x

83847

We can use get method to get the value of "Mia" key

In [88]:
x = balance.get("Mia")
x

83847

### Change Values
Change the value of a specific element by referring to its key name

In [89]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales

{2015: 34500, 2016: 34300, 2017: 40000}

In [90]:
# Change the sales figure for 2015
year_sales[2015] = 45000

year_sales

{2015: 45000, 2016: 34300, 2017: 40000}

**Adding Items**<br>
Add an item to the dictionary by using a new index key and assign a value to it

In [91]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales['2018'] = 55000

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, '2018': 55000}

### Dictionary Method

**Removing Items**<br>
Following are the methods to remove items from a dictionary:<br>
keys() method<br>
values() method<br>
items() method<br>
pop() method<br>
popitem() method<br>
del keywords<br>
clear() method<br>
copy() method<br>
update() method<br>

**keys()**

In [92]:
# declare a dictionary containing information of cars and their respective horsepowers
horsepower = {'BMW':949 , 'Mercedes':945 ,'Ferrari':954 ,'Volkswagen': 976,'Renault ':889}

Let us now check now call the keys of the dictionary

In [93]:
horsepower.keys()

dict_keys(['BMW', 'Mercedes', 'Ferrari', 'Volkswagen', 'Renault '])

It is possible to check whether a key belongs to the dictionary or not using the keyword 'in'

In [94]:
'Honda' in horsepower

False

In [95]:
'BMW' in horsepower

True

**values()**

Let us now check the values for all the keys in the dictionary

In [96]:
horsepower.values()

dict_values([949, 945, 954, 976, 889])

However, like keys of the dictionary it is not possible to check whether a value belongs to the dictionary or not using the keyword 'in'

In [97]:
934 in horsepower

False

In [98]:
949 in horsepower

False

In [99]:
889 in horsepower

False

The values '934' and '949' are considered to be keys in the above cells. Since there are no such keys in the dictionary 'False' is returned.

**items()**

The function item() returns the key along with its value.

In [100]:
horsepower.items()

dict_items([('BMW', 949), ('Mercedes', 945), ('Ferrari', 954), ('Volkswagen', 976), ('Renault ', 889)])

It is possible to access the elements of the dictionary. It can be done as follows:

In [101]:
a = horsepower.items()
a = list(a)
a[1]

('Mercedes', 945)

**pop()**<br>
Remove the element with the specified key name

In [102]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove key from dictionary
year_sales.pop(2015)

year_sales

{2016: 34300, 2017: 40000}

**popitem()**<br>
It removes the last inserted item

In [103]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove last item from the dictionary
year_sales.popitem()

year_sales

{2015: 34500, 2016: 34300}

**del keyword**<br>
delete the item with the specified key name

In [104]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# delete item from the dictionary
del year_sales[2015]

year_sales

{2016: 34300, 2017: 40000}

**clear()**<br>
The clear() keyword empties the entire dictionary

In [105]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# clear the dictionary
year_sales.clear()

year_sales

{}

**Copy()**<br>
You cannot copy a dictionary by using dict2 = dict1, because dict2 will only be a reference to dict1, and changes made in dict1 will also be made in dict2.<br>
Use copy() method to make copy of dictionary

In [106]:
# create a dictionary
year_sales1 = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# make a copy of dictionary
copy_dict = year_sales.copy()

**update()**<br>
Add and modify dictionaries by using the dict.update() method

In [107]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# update dictionary
year_sales.update({2018:30000})

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, 2018: 30000}

## Sets
It is a collection of unique items.
It is used to eliminate duplicate items from a list.
Also, it supports set operations like union intersection and difference

### Creating Set
In Python sets are written with curly brackets

In [108]:
# create a set
age_set = {11, 12, 31, 13, 24, 32, 33, 21, 23, 12}
print (age_set)

# create a set
set([1, 2, 3, 4])

{32, 33, 11, 12, 13, 21, 23, 24, 31}

{1, 2, 3, 4}

Observed that the set contains unique items only even though we put duplicates into it

A set can contain elements of different data types

In [109]:
# create a set
new_set = {12, 12, 'python', 4, 'world'}

# print
new_set

{12, 4, 'python', 'world'}

Following are the methods that you can use on sets:<br>
add()<br>
update()<br>
len()<br>
remove()<br>
pop()<br>

### Change Items
Once a set is created, you cannot modify its items, but you can add new items

**Add Items**<br>
Use add() method to add one item to a set<br>
Use update() method to add more than one item

In [110]:
# create a set
my_set = {'python','world'}

# add element
my_set.add("hi")

my_set

{'hi', 'python', 'world'}

Add multiple items to a set

In [111]:
# create a set
my_set = {'python','world'}

# update the set
my_set.update(['data science', 'machine learning'])

my_set

{'data science', 'machine learning', 'python', 'world'}

**Length of Set**

In [112]:
# create a set
my_set = {'python','world'}

# print the length of set
len(my_set)

2

**remove() method**<br>
Use remove() or discard() method to remove an item in a set

In [113]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove element from list
my_set.remove('data science')

my_set

{'machine learning', 'python', 'world'}

**pop() method**<br>
It removes a random element from the set and returns the removed element

In [114]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove random element from set
my_set.pop()

'machine learning'

In [115]:
# create a set
my_set1 = {1,2,3,"data", "science"}

# remove random element from set
my_set1.pop()

1

##Conditional Statements

### If
It decides whether given statements needs to be executed or not.
It checks for a given condition, if the condition is true, then the code present inside the if block will be executed

Important things about if statements:
1. The colon (:) is significant and required. It separates the header of the compound statement from the body
2. The line after the colon should be indented. Use four spaces for indenting

In [116]:
# create a string
my_string = 'Python'

# create a list
my_list = ['Data Science', 'Machine Learning', 'Artificial Intelligence', 'Python']

if my_string in my_list:
    print(my_string + ' Tutorial')

Python Tutorial

Check whether the item is a member of a list or not

In [117]:
languages = ['java', 'python' ,'perl', 'ruby', 'c#']
if 'python' in languages:
    print('right')

right

### If-else
The if..else statement evaluates test expression and will execute the body of if only when test condition is True.

'If' decides whether certain statements need to be executed or not.

In case, the condition is false,the body of 'else' is executed.

In [118]:
# create a integer
x = 200
print(x)

# use if else statement
if not x == 500:
    print('the value of x is not equal to 500')
else:
    print('the value of x is equal to 500')

200
the value of x is not equal to 500

In [119]:
# create a integer
n = 150
print(n)

# If number is greater than 400, n is multiplied by 8, otherwise n is divided by 8
result = n * 8 if n > 400 else n / 8
print(result)

150
18.75

Check whether the two numbers are equal or not

In [120]:
a = 3; b=3
if (a == b):  ## indent is very important
    print("A & B are Equal")
else:
    print("A & B are not Equal")

A & B are Equal

### If-elif-else

Check whether the given number is greater than 50 or not

In [121]:
num = 100
if (num == 0):
    print("Number is Zero")
elif (num > 5):
    print("Number is greater than 50")
else:
    print("Number is smaller than 50")

Number is greater than 50

### Nested If-esle statements
Nested statements are used to execute different piece of code when we have more than two options to handle.
Nested statements mean that an if statement or if-else statement is present inside another if or if-else block

##### num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

# Loops
## for
The 'for' loop in python is used to execute a block of statements or code several times until the given condition becomes false.
It is used to iterate over a sequence (list, tuple, string) or other iterable objects.

In [122]:
# find the sum of all numbers in a given list

# given list
num_list = [66, 545, 223, 438, 224, 122, 125, 214, 111]

# variable to store the sum
total = 0

# iterate over the list
for val in num_list:
    total = total+val

# Output: The sum is 2068
print("The sum is", total)

The sum is 2068

In [123]:
# Print the numbers 0,1,2,3,4,5
for x in range(6):
    print(x)

0
1
2
3
4
5

In [124]:
int_list = [134, 222, 113, 234, 375, 620]
sum = 0
for iter in int_list:
    sum += iter

print("Sum =", sum)
print("Avg =", sum/len(int_list))

Sum = 1698
Avg = 283.0

## while
While loop executes the same procedure by checking a given condition until the condition is false
The condition is given before the loop and is checked before each execution of the loop.

In [125]:
# print the digit 0 to 4
x = 0;
while (x < 5):
     print(x)
     x += 1

0
1
2
3
4

Calculate the sum of the integers from 0 to 9

In [126]:
a = 0;
b = 0
while (a < 10):
     b = b + a
     a = a + 1
else :
     print('The sum of first 9 integers : ',b)

The sum of first 9 integers :  45

##### find the length of input
n = int(input())
length = 0
while True:
    length += 1
    n //= 10
    if n == 0:
        break
print('Length is', length)

## Break
The break statement is used to stop the loop when a particular condition is true.

It is generally used inside a loop along with an if statement so that when a particular condition returns true, the break statement terminates the loop.

In [127]:
# display all the number before 838
for num in [131, 92, 838, 120, 920, 233,321, 119]:
   print(num)
   if(num==838):
        print("The number 838 is found")
        print("Terminating the loop")
        break

131
92
838
The number 838 is found
Terminating the loop

## Countinue
Continue is also a loop control statement similar to the break statement.

But unlike the break statement, it executes the next iteration of the loop instead of terminating the loop

In [128]:
# loop from 1 to 10
for i in range(1, 11):
    if i == 6:
        continue
    else:
        # otherwise print the value of i
        print(i, end = " ")

1 2 3 4 5 7 8 9 10

Use of continue statement in a while loop

In [129]:
i = 0
while i < 9:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9